<template>
  <div>
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-stepper
      v-model="educatorProfile"
      vertical
      non-linear>
      <v-stepper-items>
        <v-stepper-step
          editable step="1"
          v-bind:complete="educatorProfile > 1">
          Role
          <small>The kind of job you want to look for with this profile.</small>
        </v-stepper-step>
        <v-stepper-content step="1">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="role">
                <v-radio label="Teacher"
                  value="1"></v-radio>
                <v-radio label="Assistant (coming soon)"
                  value="2"
                  disabled></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 2">
            Continue
          </v-btn>
        </v-stepper-content>
        <v-stepper-step
          editable step="2"
          v-bind:complete="educatorProfile > 2">
          Age Groups
          <small>Age groups you want this profile to be considered for.</small>
        </v-stepper-step>
        <v-stepper-content step="2">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="0 to 3"
                v-model="ageRanges"
                value="1"></v-checkbox>
              <v-checkbox
                label="3 to 6"
                v-model="ageRanges"
                value="2"></v-checkbox>
              <v-checkbox
                label="6 to 9"
                v-model="ageRanges"
                value="3"></v-checkbox>
              <v-checkbox
                label="9 to 12"
                v-model="ageRanges"
                value="4"></v-checkbox>
              <v-checkbox
                label="12+"
                v-model="ageRanges"
                value="5"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 3">
            Continue
          </v-btn>
        </v-stepper-content>
        

        <v-stepper-step
          editable
          step="3"
          v-bind:complete="educatorProfile > 3">
          Education Level
          <small>Check the highest level of completion.</small>
        </v-stepper-step>
        <v-stepper-content step="3">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="educationTypes">
                <v-radio
                  label="High School"
                  value=1></v-radio>
                <v-radio
                  label="Associate"
                  value=2></v-radio>
                <v-radio
                  label="Bachelor"
                  value=3></v-radio>
                <v-radio
                  label="Master"
                  value=4></v-radio>
                <v-radio
                  label="Doctorate"
                  value=5></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 4">
            Continue
          </v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable
          step="4"
          v-bind:complete="educatorProfile > 4"
        >
          Training Types
          <small>AMI, AMS, etc. Choose all you are qualified for.</small>
        </v-stepper-step>
        <v-stepper-content step="4">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="Association Montessori Internationale"
                v-model="trainingTypes"
                value="1"></v-checkbox>
              <v-checkbox
                label="American Montessori Society"
                v-model="trainingTypes"
                value="2"></v-checkbox>
              <v-checkbox
                label="Center for Guided Studies"
                v-model="trainingTypes"
                value="3"></v-checkbox>
              <v-checkbox
                label="Pan-American Montessori Society"
                v-model="trainingTypes"
                value="4"></v-checkbox>
              <v-checkbox
                label="Other MACTE Accredited Program"
                v-model="trainingTypes"
                value="5"></v-checkbox>
              <v-checkbox
                label="Other Non-MACTE Accredited Program"
                v-model="trainingTypes"
                value="6"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 5">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="5"
          v-bind:complete="educatorProfile > 5">
          School Organizational Categories
          <small>Public or private? For profit or not? Choose all you're interested in.</small>
        </v-stepper-step>
        <v-stepper-content step="5">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="Public District"
                v-model="organizationTypes"
                value="1"></v-checkbox>
              <v-checkbox
                label="Public Charter"
                v-model="organizationTypes"
                value="2"></v-checkbox>
              <v-checkbox
                label="Public Magnet"
                v-model="organizationTypes"
                value="3"></v-checkbox>
              <v-checkbox
                label="Private Not For Profit"
                v-model="organizationTypes"
                value="4"></v-checkbox>
              <v-checkbox
                label="Private For Profit"
                v-model="organizationTypes"
                value="5"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 6">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable
          step="6"
          v-bind:complete="educatorProfile > 6">
          Location Categories
          <small>In the country or the city? Choose all you're interested in.</small>
        </v-stepper-step>
        <v-stepper-content step="6">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="Rural"
                v-model="locationTypes"
                value="1"></v-checkbox>
              <v-checkbox
                label="Suburban"
                v-model="locationTypes"
                value="2"></v-checkbox>
              <v-checkbox
                label="Small City"
                v-model="locationTypes"
                value="3"></v-checkbox>
              <v-checkbox
                label="Urban"
                v-model="locationTypes"
                value="4"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 7">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="7"
          v-bind:complete="educatorProfile > 7">
          School Sizes (by # of classrooms)
          <small>One room schoolhouse? Lots of people to collaborate with? Choose all you're interested in.</small>
        </v-stepper-step>
        <v-stepper-content step="7">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="4 or fewer"
                v-model="sizes"
                value="1"></v-checkbox>
              <v-checkbox
                label="5 to 9"
                v-model="sizes"
                value="2"></v-checkbox>
              <v-checkbox
                label="10 to 19"
                v-model="sizes"
                value="3"></v-checkbox>
              <v-checkbox
                label="20+"
                v-model="sizes"
                value="4"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 8">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="8"
          v-bind:complete="educatorProfile > 8">
          Calendar Types
          <small>Year round or traditional? Choose all you're interested in.</small>
        </v-stepper-step>
        <v-stepper-content step="8">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="Traditional"
                v-model="calendarTypes"
                value="1"></v-checkbox>
              <v-checkbox
                label="Year Round"
                v-model="calendarTypes"
                value="2"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="educatorProfile = 9">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="9"
          v-bind:complete="educatorProfile > 9">
          Geographic Area
          <small>Where are you willing to work? Add as many zip codes as you like.</small>
        </v-stepper-step>
        <v-stepper-content step="9">
          <v-card flat>
            <v-card-text>
              <v-form
                v-model="valid"
                ref="form">
                <v-text-field
                  label="ZipCode"
                  v-model="currentZipCode"
                  :rules="zipCodeRules"
                  required></v-text-field>
                <v-select
                  v-bind:items="distances"
                  v-model="currentDistance"
                  label="Miles from zip code"
                  single-line
                  bottom></v-select>              
                <v-btn @click="addZipCode(currentZipCode, currentDistance)">
                  Add</v-btn>
              </v-form>
              <v-list two-line>
                <v-list-tile
                  v-for="(zipCodeObj, i) in matchingProfile.zipCodes"
                  :key="i">
                  <v-list-tile-content>
                    <v-list-tile-title v-text="zipCodeObj.code"></v-list-tile-title>
                    <v-list-tile-sub-title v-text="`${zipCodeObj.distance} miles`"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card-text>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
      <v-btn
        color="primary"
        @click="finishStepOne()">
        Continue</v-btn>
    </v-stepper>
    <v-progress-linear
      v-model="computedProgress"
      color="primary"></v-progress-linear>
  </div>
</template>

<script>
import { updateMatchingProfile, getMatchingProfileById } from '../../../../services/matchingProfiles'
import Firebase from '../../../../services/firebase'
import { logError } from '../../../../services/logger'

export default {
  async mounted () {
    const userId = Firebase.auth().currentUser.uid
    // if we got here without having the necessary data, leave!
    if (!this.$store.state.currentEditingMatchingProfileId) {
      logError('no currentEditingMatchingProfile stored in state', userId, 'educators/matching-profiles/update/categories')
      this.snackbar = true
      this.errorMessage = 'There was an error storing your Matching Profile, please go back to your user profile and try again.'
    }

    let profile
    try {
      profile = await getMatchingProfileById(this.$store.state.currentEditingMatchingProfileId)
    } catch (err) {
      logError(`error getting matching profile by id: ${err}`, userId, 'educators/matching-profiles/update/categories')
      this.snackbar = true
      this.errorMessage = 'We could not find the saved information for this matching profile. Please go back to your user profile and try again.'
    }

    // the components are expecting strings, so we have to convert to strings from the db values
    for (let category in this.matchingProfile) {
      if (this[category]) {
        switch (category) {
          case 'educationTypes':
            // educationTypes should only be the highest one
            if (profile.educationTypes.length > 0) {
              const last = profile.educationTypes.length - 1
              this.educationTypes = profile.educationTypes[last].toString()
            } else {
              this[category] = 0
            }
            break
          case 'role':
            this.role = profile.role.toString()
            break
          default:
            // elsewise we grab what should be the only element in the array for the radio value
            this[category] = profile[category].map(el => {
              return el.toString()
            })
            break
        }
      }
      this.matchingProfile[category] = profile[category]
    }
  },
  data () {
    return {
      valid: false,
      zipCodeRules: [
        (v) => !!v || 'Zip code must be 5 digits long',
        (v) => (v && /^[0-9]*$/.test(v) && v.length === 5) || 'Zip code must be 5 digits long'
      ],
      educatorProfile: 1,
      currentZipCode: '',
      currentDistance: '',
      distances: [10, 20, 50, 100, 'Any'],
      // vuetify components don't work if the models are nested in an object
      // so we have to have top level and nested versions of all these
      ageRanges: [],
      trainingTypes: [],
      organizationTypes: [],
      educationTypes: [],
      locationTypes: [],
      sizes: [],
      calendarTypes: [],
      role: 1,
      matchingProfile: {
        role: 1,
        ageRanges: [],
        educationTypes: [],
        trainingTypes: [],
        organizationTypes: [],
        locationTypes: [],
        locationTypesWeight: 10,
        sizes: [],
        sizesWeight: 10,
        calendarTypes: [],
        calendarTypesWeight: 10,
        zipCodes: [],
        zipCodesWeight: 5
      },
      snackbar: false,
      errorMessage: ''
    }
  },
  methods: {
    addZipCode (code, distance) {
      // if the array isn't there, initialize it
      if (!this.matchingProfile.zipCodes) {
        this.matchingProfile.zipCodes = []
      }
      // push the object in
      this.matchingProfile.zipCodes.push({
        code: Number(code),
        distance: distance
      })
      // reset v-models
      this.currentZipCode = ''
      this.currentDistance = ''
    },
    finishStepOne () {
      if (!(this.$store.state.currentEditingMatchingProfileId &&
          this.role !== 0 &&
          this.ageRanges.length > 0 &&
          this.trainingTypes.length > 0 &&
          this.organizationTypes.length > 0 &&
          this.locationTypes.length > 0 &&
          this.sizes.length > 0 &&
          this.calendarTypes.length > 0 &&
          this.educationTypes !== 0
      )) {
        this.snackbar = true
        this.errorMessage = 'Not all options have been chosen.'
        return
      }
      // for an educator, push all educationTypes below the one they choose
      this.matchingProfile.educationTypes = []
      for (let i = 1; i <= this.educationTypes; i++) {
        this.matchingProfile.educationTypes.push(i)
      }
      // reconvert to numbers for the db
      this.matchingProfile.role = Number(this.role)
      this.matchingProfile.ageRanges = this.ageRanges.map(el => { return Number(el) })
      this.matchingProfile.trainingTypes = this.trainingTypes.map(el => { return Number(el) })
      this.matchingProfile.organizationTypes = this.organizationTypes.map(el => { return Number(el) })
      this.matchingProfile.locationTypes = this.locationTypes.map(el => { return Number(el) })
      this.matchingProfile.sizes = this.sizes.map(el => { return Number(el) })
      this.matchingProfile.calendarTypes = this.calendarTypes.map(el => { return Number(el) })
      // because the component data is reactive, have to do JSON methods to get a plain old object
      try {
        updateMatchingProfile(this.$store.state.currentEditingMatchingProfileId, JSON.parse(JSON.stringify(this.matchingProfile)))
      } catch (err) {
        const uid = Firebase.auth().currentUser.uid
        logError(`error updating matching profile: ${err}`, uid, 'educators/matching-profiles/update/categories')
        this.snackbar = true
        this.errorMessage = 'There was a problem saving the data, please try again.'
        return
      }

      // move to next step
      this.$router.push('/educators/matching-profiles/update/traits')
    }
  },
  computed: {
    computedProgress: function () {
      return (this.educatorProfile - 1) * 6.25
    }
  }
}
</script>

<style scoped>
</style>
