<template>
<v-layout
  column
  align-center
>
  <v-snackbar
    :timeout="6000"
    multi-line
    top
    v-model="snackbar"
    color="error"
  >
    {{ errorMessage }}
    <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
  </v-snackbar>
  <v-flex
    xs12
    sm10
    md6
    class="white elevation-2 pa-4"
  >
    <v-form
      v-model="valid"
      ref="form"
    >
      <h4 class="primary--text">Start</h4>
      <p>
        You're taking the next step towards finding an amazing job!
        Since you're allowed to have more than one matching profile
        (so that you can look for jobs as a primary or lower elementary teacher, for example)
        the first thing to do is name this matching profile so you know which
        one it is.
      </p>
      <v-text-field
        label="Matching Profile Name"
        v-model="name"
        :rules="nameRules"
        required
      ></v-text-field>
      <v-btn color="primary" @click="submit">submit</v-btn>
    </v-form>
  </v-flex>
</v-layout>
</template>

<script>
import Firebase from '../../../../services/firebase'
import { createMatchingProfile, updateMatchingProfile } from '../../../../services/matchingProfiles'
import { logError } from '../../../../services/logger'

export default {
  async mounted () {
    const user = Firebase.auth().currentUser
    if (!user) {
      this.router.push('/login')
      return
    }
    let id
    try {
      // this initializes the matching profile and returns a doc id to use later
      id = await createMatchingProfile(user.uid, 'educator')
    } catch (err) {
      logError(`error creating matching profile: ${err}`, user.uid, 'educators/matching-profiles/update')
      this.errorMessage = 'There was a problem creating a new matching profile. Please go back to your user profile and try again.'
      this.snackbar = true
    }
    this.matchingProfileId = id
  },
  data () {
    return {
      valid: false,
      name: '',
      nameRules: [
        (v) => !!v || 'Profile name is required',
        (v) => (v && v.length >= 2) || 'Profile name must be at least 2 characters'
      ],
      matchingProfileId: '',
      errorMessage: '',
      snackbar: false
    }
  },
  methods: {
    async submit () {
      const user = Firebase.auth().currentUser
      if (!user) {
        this.$router.push('/login')
      }
      if (!this.matchingProfileId) {
        this.errorMessage = 'There was a problem creating a new matching profile. Please go back to your user profile and try again.'
        this.snackbar = true
        return
      }

      try {
        // update it with the name and id
        updateMatchingProfile(this.matchingProfileId, {
          name: this.name,
          id: this.matchingProfileId
        })
      } catch (err) {
        logError(`error saving initial matching profile info: ${err}`, user.uid, 'educators/matching-profiles/update')
        this.snackbar = true
        this.errorMessage = 'There was a problem creating a new matching profile. Please go back to your user profile and try again.'
      }

      // go to next page
      this.$store.commit('setCurrentEditingMatchingProfileId', this.matchingProfileId)
      this.$router.push('/educators/matching-profiles/update/categories')
    }
  }
}
</script>
