<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
      <script src="https://cdn.rawgit.com/GoogleCloudPlatform/stackdriver-errors-js/v0.2.0/dist/stackdriver-errors-concat.min.js"></script>
      <script type="text/javascript">
      var errorHandler = new StackdriverErrorReporter();
      errorHandler.start({
        key: 'AIzaSyBPosbihobBwY5zO_pYqnSwiRKBh5se2lU',
        projectId: 'connectiqueco'
      });
      </script>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
