<template>
  <v-container fluid>
    <h2 class="primary--text">{{ matchingProfile.name }}</h2>
    <v-layout
      row
      align-top
      justify-space-around
      wrap
      class="white elevation-2 pa-3"
    >
      <v-flex
        xs12
        sm10
        md5
      >
        <v-img
          :src="profile.avatarUrl"
          height="300px"
          class="mb-2"
          contain
        ></v-img>
        <div class="headline primary--text">{{profile.name}}</div>
        <div><strong>Description:</strong> {{ profile.description }}</div>
        <br/>
      </v-flex>
    </v-layout>
    <v-layout
      column
      class="white elevation-2 pa-3 mb-5">
      <h4 class="title primary--text">Categories</h4>
      <v-container
        fluid
        grid-list-md>
        <v-layout
          row
          wrap>
          <v-flex
            xs4
            v-for="category in matchingProfile"
            :key="category.key">
            <v-card flat tile>
              <v-card-title class="accent--text">
                {{ category.key }}
              </v-card-title>
              <div class="category-chip" v-for="val in category.value" :key="val">
                <v-chip
                  :key="val"
                  color="primary"
                  text-color="white">
                  {{ val }}
                </v-chip>
              </div>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
    <h4 class="title primary--text">Geographic Areas</h4>
    <v-list class="mb-5">
      <template v-for="zipCode in matchingProfile.zipCodes">
        <div v-bind:key="zipCode.code">
          <v-divider inset></v-divider>
          <v-list-tile v-bind:key="zipCode.code" class="primary">
            <v-list-tile-content class="white--text">
              {{ zipCode.code }}
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </template>
    </v-list>
    <h4 class="title primary--text">Traits</h4>
    <v-list class="mb-5">
      <template v-for="trait in matchingProfile.traits">
        <div v-bind:key="trait">
          <v-divider inset></v-divider>
          <v-list-tile v-bind:key="trait" class="primary">
            <v-list-tile-content class="white--text">
              {{ trait }}
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </template>
    </v-list>
    <v-btn
      v-on:click.native="updateMatchingProfile"
      block
      color="secondary"
      class="white--text"
    >
      Update This Matching Profile
    </v-btn>
    <v-layout
      column
      class="white elevation-2 pa-3"
      v-if="confirmedConnections.length > 0 || potentialMatches.length > 0"
    >
      <h4 class="headline primary--text mb-1 text-xs-center">My School Matches</h4>
      <h5 class="headline primary--text">Confirmed Connections:</h5>
      <v-flex
        xs12
        md6
      >
        <v-list>
          <template v-for="(connection, index) in confirmedConnections">
            <v-divider
              inset
              v-bind:key="index"
            ></v-divider>
            <v-list-tile
              v-bind:key="`${index}a`"
              @click="gotoConfirmedConnection(connection.matchRecordId)"
            >
              <v-list-tile-content>
                {{ connection.displayName }}
              </v-list-tile-content>
              <v-list-tile-action>
                {{ connection.percent }}%
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
      <h5 class="headline primary--text">Suggested Matches:</h5>
      <v-flex
        xs12
        md6
      >
        <v-list>
          <template v-for="(match, index) in potentialMatches">
            <div v-bind:key="index">
              <v-divider
                inset
              ></v-divider>
              <v-list-tile
                avatar
                @click="gotoPotentialMatch(match.matchRecordId)"
              >
                <v-list-tile-content>
                  {{ match.displayName }}
                </v-list-tile-content>
                <v-list-tile-action>
                  {{ match.percent }}%
                </v-list-tile-action>
              </v-list-tile>
            </div>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
    <v-layout
      column
      class="white elevation-2 pa-3"
      v-if="confirmedConnections.length === 0 && potentialMatches.length === 0"
    >
    <h4 class="primary--text">You don't have any matches yet. Check back soon!</h4>
    </v-layout>
  </v-container>
</template>

<script>
import MatchingProfileMap from '../../../services/matchingProfileMap'
import Firebase from '../../../services/firebase'
import { getAllUserData } from '../../../services/users'
import {
  getMatchingProfileById,
  getAllConfirmedMatchRecords,
  getAllPotentialMatchRecords
} from '../../../services/matchingProfiles'
import { logError } from '../../../services/logger'

export default {
  async mounted () {
    const user = Firebase.auth().currentUser
    if (!user) {
      this.$router.push('/auth/login')
    }

    let data
    try {
      data = await getAllUserData(user.uid)
    } catch (err) {
      logError(`error getting all user data: ${err}`, user.uid, 'schools/matching-profiles/detail')
      this.errorText = err.Message
    }

    this.profile.name = data.privateInfo.name
    this.profile.displayName = data.publicInfo.displayName
    this.profile.description = data.publicInfo.description
    this.profile.avatarUrl = data.publicInfo.avatarUrl
    this.$store.commit('setCurrentPage', 'match-profile-detail-school')

    // get matching profile stored in db using value
    const matchingProfileId = this.$store.state.currentViewingMatchingProfileId
    let storedMatchingProfile
    try {
      storedMatchingProfile = await getMatchingProfileById(matchingProfileId)
    } catch (err) {
      logError(`error getting matching profile by id: ${err}`, user.uid, 'schools/matching-profiles/detail')
      this.$store.commit('setErrorText', err)
      this.$store.commit('setSnackbar', true)
    }

    // set up object to drop data into after it's been translated through the map
    const viewMatchingProfile = {
      role: {
        key: 'Role',
        value: []
      },
      ageRanges: {
        key: 'Age Ranges',
        value: []
      },
      locationTypes: {
        key: 'Community Size',
        value: []
      },
      educationTypes: {
        key: 'Education Level',
        value: []
      },
      sizes: {
        key: 'Sizes',
        value: []
      },
      calendarTypes: {
        key: 'Calendar Types',
        value: []
      },
      organizationTypes: {
        key: 'Organization Types',
        value: []
      },
      trainingTypes: {
        key: 'Training',
        value: []
      }
    }

    let traits = []

    // this converts db values (integers) into view values (strings)
    // via the map in services directory
    for (let profileSectionKey in storedMatchingProfile) {
      for (let mapSectionKey in MatchingProfileMap) {
        if (mapSectionKey === profileSectionKey) {
          // role isn't stored as an array
          if (profileSectionKey === 'role') {
            viewMatchingProfile[profileSectionKey].value = [MatchingProfileMap[mapSectionKey][storedMatchingProfile[profileSectionKey]]]
          } else {
            storedMatchingProfile[profileSectionKey].forEach((el, ind) => {
              if (profileSectionKey === 'traits') {
                // traits don't have a key, so they get dropped right in
                traits[ind] = MatchingProfileMap.traits.schoolTraits[el]
              } else {
                // for all the rest we move them directly over
                viewMatchingProfile[profileSectionKey].value[ind] = MatchingProfileMap[mapSectionKey][el]
              }
            })
          }
        }
      }
    }

    this.matchingProfile = viewMatchingProfile
    this.matchingProfile.traits = traits
    // zip codes don't need to be converted
    this.matchingProfile.zipCodes = storedMatchingProfile['zipCodes']

    try {
      this.confirmedConnections = await getAllConfirmedMatchRecords(matchingProfileId)
    } catch (err) {
      logError(`error getting all confirmed match records: ${err}`, user.uid, 'schools/matching-profiles/detail')
    }

    try {
      this.potentialMatches = await getAllPotentialMatchRecords(matchingProfileId)
    } catch (err) {
      logError(`error getting all potential match records: ${err}`, user.uid, 'schools/matching-profiles/detail')
    }
  },
  data () {
    return {
      profile: {
        name: '',
        displayName: '',
        description: '',
        avatarUrl: ''
      },
      profileCards: [],
      matchingProfile: {},
      confirmedConnections: [],
      potentialMatches: [],
      errorText: ''
    }
  },
  methods: {
    gotoConfirmedConnection (matchRecordId) {
      this.$store.commit('setCurrentViewingRecordId', matchRecordId)
      this.$store.commit('setTypeOfViewingRecord', 'confirmed')
      this.$router.push('/schools/matches')
    },
    gotoPotentialMatch (matchRecordId) {
      this.$store.commit('setCurrentViewingRecordId', matchRecordId)
      this.$store.commit('setTypeOfViewingRecord', 'potential')
      this.$router.push('/schools/matches')
    },
    updateMatchingProfile () {
      this.$store.commit('setCurrentEditingMatchingProfileId', this.$store.state.currentViewingMatchingProfileId)
      this.$router.push('/schools/matching-profiles/update/categories')
    }
  }
}
</script>

<style scoped>
  .category-chip {
    display: inline;
  }
</style>
