<template>
  <v-layout
    row
    align-center
  >
    <v-flex
      xs12
      sm12
      md12
      class="white elevation-2 pa-4"
    >
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
      >
        <h4 class="primary--text">Thanks for signing up!</h4>
        <h4 class="primary--text">Please fill out some additional info for your profile.</h4>
        <v-text-field
          label="Name"
          v-model="name"
          :rules="nameRules"
          required
        >
        </v-text-field>
        <v-textarea
          label="Description"
          v-model="description"
          :rules="descriptionRules"
          hint="This is your chance to sell your profile to others! Be as descriptive about yourself as you want to be! We recommend at least a paragraph."
          auto-grow
          required
        >
        </v-textarea>
        <h4 class="primary--text">Pick a puzzle piece as an avatar.</h4>
        <v-container grid-list-xs>
          <v-layout
            row
            wrap
          >
            <template v-for="(url, index) in avatarUrls">
              <v-flex xs4 :key="index">
                <img
                  class="image"
                  :class="{border: bordered[index]}"
                  :src="url"
                  @click="setSelectedImage(url, index)"
                >
              </v-flex>
            </template>
          </v-layout>
        </v-container>
        <v-btn
          :loading="loading"
          :disabled="loading"
          @click="submit"
          @keydown.enter.prevent
          @keyup.enter="submit"
        >
          submit
        </v-btn>
        <v-btn
          @click="clear"
          @keydown.enter.prevent
          @keyup.enter="clear"
        >
          clear
        </v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import Firebase from '../../services/firebase'
import { setAllUserData } from '../../services/users'
import { logError } from '../../services/logger'

export default {
  middleware: 'authenticated',
  mounted () {
    this.$store.commit('setCurrentPage', 'finish-profile-educator')
    const avatars = [
      'blue',
      'green',
      'orange',
      'pink',
      'red',
      'teal'
    ]
    avatars.forEach(async color => {
      let url
      try {
        url = await Firebase.storage().ref(`avatars/thumb_puzzle-${color}.jpg`).getDownloadURL()
      } catch (err) {
        let uid
        if (Firebase.auth().currentUser) {
          uid = Firebase.auth().currentUser.uid
        }
        logError(`error getting avatar download url: ${err}`, uid, 'my-profile/finish')
      }
      this.avatarUrls.push(url)
    })
  },
  data () {
    return {
      loading: false,
      valid: true,
      name: '',
      nameRules: [
        (v) => !!v || 'School name is required',
        (v) => (v && v.length >= 2) || 'School name must be at least 2 characters long'
      ],
      description: '',
      descriptionRules: [
        (v) => !!v || 'Description is required',
        (v) => (v && v.length >= 20) || 'Description must be at least 20 characters long'
      ],
      selectedImage: '',
      avatarUrls: [],
      bordered: {
        0: false,
        1: false,
        2: false,
        3: false,
        4: false,
        5: false
      }
    }
  },
  methods: {
    setSelectedImage (url, index) {
      this.selectedImage = url
      for (let key in this.bordered) {
        if (index === Number(key)) {
          this.bordered[key] = true
        } else {
          this.bordered[key] = false
        }
      }
    },
    async submit () {
      if (this.$refs.form.validate()) {
        // create displayName
        this.loading = true
        const displayName = await this.name.split(' ').map(word => {
          return word[0].toUpperCase()
        }).join('')

        const user = Firebase.auth().currentUser
        const privateInfo = {
          name: this.name,
          memberType: this.$store.state.memberType
        }
        const publicInfo = {
          displayName,
          description: this.description,
          avatarUrl: this.selectedImage
        }
        setAllUserData(user.uid, privateInfo, publicInfo)
        this.$router.push('/my-profile')
      } else {
        this.$store.commit('setErrorSnackbar', true)
        this.$store.commit('setErrorText', 'Please set your name and description, and pick a puzzle piece as an avatar.')
        this.loading = false
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

<style scoped>
.wide {
  width: 70%;
}
.image:hover {
  border: 1px solid #388CC8;
  border-radius: 25px;
  cursor: pointer;
}
.border {
  border: 1px solid #388CC8;
  border-radius: 25px;
}
</style>
