<template>
  <v-container fluid>
    <h2 class="primary--text">My Profile</h2>
    <v-layout
      row
      align-top
      justify-space-around
      wrap
    >
      <v-flex
        xs12
        sm10
        md5>
        <v-card>
          <v-img
            :src="this.avatarUrl"
            height="300px"
            class="mb-2"
            contain
          ></v-img>
        </v-card>
        <br/>
      </v-flex>
      <v-flex
        xs12
        sm10
        md6>
        <v-card color="primary">
          <v-card-text>
            <div class="headline accent--text">{{profile.name}}</div>
            <div class="mb-1 white--text"><strong>Display Name:</strong> {{ profile.displayName }}</div>
            <div class="mb-1 white--text"><strong>Email:</strong> {{ profile.email }}</div>
            <div class="white--text"><strong>Description:</strong></div>
            <p class="white--text">
              {{ profile.description }}
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-tooltip top>
      <v-btn
        slot="activator"
        color="primary"
        v-on:click.native="$store.commit('setMemberType', 'school')"
        block
        to="/my-profile/update"
        class="white--text">
        Update My Profile
      </v-btn>
      <span>Change your name, description or avatar.</span>
    </v-tooltip>
    <v-btn
      color="secondary"
      v-on:click.native="$store.commit('setMemberType', 'school')"
      block
      to="/auth/change-password"
      class="white--text">
      Change My Password
    </v-btn>
    <v-layout
      column
      class="white elevation-2 pa-3">
      <h4 class="headline secondary--text mb-1">My Matching Profiles</h4>
      <v-flex xs12>
        <v-btn
          color="primary"
          white--text
          @click="toNewMatchingProfile"
        >
          Make a new matching profile!</v-btn>
        <v-container
          fluid
          grid-list-md
          v-if="matchingProfiles.length > 0">
          <v-layout
            row
            wrap>
            <v-flex
              xs6
              v-for="profile in matchingProfiles"
              :key="profile.id">
              <v-card
                tile>
                <v-card-title>
                  {{ profile.name }}
                </v-card-title>
                <v-card-actions>
                  <v-btn @click="viewMatchingProfile(profile.id)">View</v-btn>
                  <v-btn @click="editMatchingProfile(profile.id)">Edit</v-btn>
                  <v-tooltip top>
                    <v-btn slot="activator" @click="archiveMatchingProfile(profile.id)">Archive</v-btn>
                    <span>We won't run this profile for matches anymore.</span>
                  </v-tooltip>
                  <v-tooltip top>
                    <v-btn slot="activator" @click="deleteProfile(profile.id)">Delete</v-btn>
                    <span>We'll delete this profile entirely.</span>
                  </v-tooltip>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Firebase from '../../services/firebase'
import { getAllUserData, getMemberType } from '../../services/users'
import { deactivateMatchingProfile, deleteMatchingProfile, getAllMatchingProfiles } from '../../services/matchingProfiles'
import { logError } from '../../services/logger'

export default {
  middleware: 'check-complete-profile',
  async mounted () {
    // check for logged in user so a person who has accidentally logged out can't commit data
    this.$store.commit('setCurrentPage', 'profile-school')
    let user = Firebase.auth().currentUser
    if (!user) {
      user = this.$store.state.user
    }
    if (!user) {
      this.$router.push('/auth/login')
    }

    // set all relevant profile info
    this.profile.email = user.email
    const { publicInfo, privateInfo } = await getAllUserData(user.uid)
    this.avatarUrl = publicInfo.avatarUrl
    this.profile.name = privateInfo.name
    this.profile.displayName = publicInfo.displayName
    this.profile.description = publicInfo.description
    try {
      this.memberType = await getMemberType(user.uid)
    } catch (err) {
      logError(`error getting member type: ${err}`, user.uid, 'my-profile')
    }

    let matchingProfiles
    try {
      matchingProfiles = await getAllMatchingProfiles(user.uid)
    } catch (err) {
      logError(`error getting all matching profiles: ${err}`, user.uid, 'my-profile')
    }

    matchingProfiles.forEach((doc) => {
      const data = doc.data()
      data.id = doc.id
      this.matchingProfiles.push(data)
    })
  },
  data () {
    return {
      profile: {
        name: '',
        displayName: '',
        email: '',
        description: ''
      },
      matchingProfiles: [],
      memberType: '',
      avatarUrl: ''
    }
  },
  methods: {
    toNewMatchingProfile () {
      this.$router.push(`/${this.memberType}s/matching-profiles/update`)
    },
    viewMatchingProfile (profileId) {
      this.$store.commit('setCurrentViewingMatchingProfileId', profileId)
      this.$router.push(`/${this.memberType}s/matching-profiles/detail`)
    },
    editMatchingProfile (profileId) {
      this.$store.commit('setCurrentEditingMatchingProfileId', profileId)
      this.$router.push(`/${this.memberType}s/matching-profiles/update/categories`)
    },
    archiveMatchingProfile (profileId) {
      const ind = this.matchingProfiles.findIndex(el => {
        return el.id === profileId
      })
      this.matchingProfiles.splice(ind, 1)
      deactivateMatchingProfile(profileId)
    },
    deleteProfile (profileId) {
      const ind = this.matchingProfiles.findIndex(el => {
        return el.id === profileId
      })
      this.matchingProfiles.splice(ind, 1)
      deleteMatchingProfile(profileId)
    }
  }
}
</script>

<style>
.primary-background {
  background-color: #388CC8;
}
</style>
