<template>
  <div>
    <v-layout
      column
      align-center
      absolute
      @keydown.enter.prevent
      @keyup.enter="submit"
    >
      <v-flex
        xs12
        sm10
        md6
        class="white elevation-2 pa-4"
      >
        <v-form
          v-model="valid"
          ref="form"
        >
          <h4 class="primary--text">Oops, your member type didn't get saved correctly! Help us fix that, please.</h4>
          <v-select
            v-bind:items="memberTypes"
            label="I am a(n)..."
            class="input-group--focused"
            item-value="text"
            v-model="memberType"
          ></v-select>
          <v-btn
            color="primary"
            @click="submit"
            @keydown.enter.prevent
            @keyup.enter="submit"
          >
            submit
          </v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Firebase from '../../services/firebase'
import { setMemberType } from '../../services/users'
import { logError } from '../../services/logger'

export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'signup')
  },
  data () {
    return {
      errorMessage: '',
      valid: false,
      alert: false,
      memberTypes: [
        'educator',
        'school'
      ],
      memberType: ''
    }
  },
  methods: {
    async submit () {
      if (!this.memberType) {
        this.errorMessage = 'Please choose what type of member you are.'
        return
      }

      const user = Firebase.auth().currentUser

      try {
        await setMemberType(user.uid, this.memberType)
      } catch (err) {
        const uid = Firebase.auth().currentUser.uid
        logError(err, uid, 'member-type')
      }

      // set store variables appropriately
      this.$store.commit('setMemberType', this.memberType)
      // reroute to correct profile
      // admins are never made this way, so don't need to include that
      this.$router.push('/my-profile')
    }
  }
}
</script>

<style>
.big-top-margin {
  margin-top: 35rem;
}
</style>
