<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-flex
      xs12
      sm10
      md8
      class="white elevation-2 pa-4"
    >
      <v-layout
        v-for="message in messages"
        :key="message.timestamp"
        row
      >
        <v-flex xs12>
          <v-chip
            v-if="message.userId === userId"
            text-color="white"
            color="primary"
            class="float-right">
              {{message.text}}</v-chip>
          <v-chip
            v-if="message.userId !== userId"
            text-color="primary"
            outline
            color="primary"
            class="float-left">
              {{message.text}}</v-chip>
        </v-flex>
      </v-layout>
      <v-text-field
        label="New Message"
        v-model="currentMessage"
      >
      </v-text-field>
      <v-btn
        @click="sendMessage(currentMessage)"
        @keydown.enter.prevent
        @keyup.enter="sendMessage(currentMessage)"
      >
        Send
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { getChatHistoryId, writeMessage } from '../../services/chat'
import Firebase from '../../services/firebase'
import Firestore from '../../services/firestore'
import { logError } from '../../services/logger'

export default {
  async mounted () {
    this.$store.commit('setCurrentPage', 'chat')

    const user = Firebase.auth().currentUser
    if (!user) {
      this.$router.push('/auth/login')
    }
    this.userId = user.uid
    try {
      // get the id of the chatHistory doc between the two users
      this.chatHistoryId = await getChatHistoryId(user.uid, this.$store.state.currentChatPartnerId)
    } catch (err) {
      logError(`error getting chat history id: ${err}`, user.uid, 'chat')
      this.errorMessage = 'We could not find a record of previous messages with this person. We have logged the error and will fix it right away!'
      this.snackbar = true
    }

    // this gets the a single snapshot of the previous messages
    try {
      Firestore.collection('chatHistories')
        .doc(this.chatHistoryId).collection('messages')
        .orderBy('timestamp')
        .get()
        .then(snapshot => {
          // and pushes them into this.messages
          snapshot.forEach(doc => {
            this.messages.push(doc.data())
          })
        })
    } catch (err) {
      logError(`error getting the messages for chat history ${this.chatHistoryId}`, user.uid, 'chat')
      this.snackbar = true
      this.errorMessage = 'We could not retrive the message history for this chat. Please try again later.'
    }

    // this creates a live listener on the messages, so that as new ones get added
    // the page gets an update
    Firestore.collection('chatHistories')
      .doc(this.chatHistoryId).collection('messages')
      .orderBy('timestamp')
      .onSnapshot(snapshot => {
        // when an update arrive, it takes the most recent one
        // and pushes it into this.messages
        const messageArray = []
        snapshot.forEach(doc => {
          messageArray.push(doc.data())
        })
        const latestMessage = messageArray.pop()
        const timestampExists = this.messages.find(message => {
          return message.timestamp === latestMessage.timestamp
        })
        if (!timestampExists) {
          this.messages.push(latestMessage)
        }
      })
  },
  beforeDestroy () {
    // theoretically, we should be unsubscribing from the live listener
    // but I can't figure out how to get this.unsubscribe out of 'mounted'
    // to be called later in the lifecycle. 'this.unsubscribe' breaks with
    // 'not a function'
    // this.unsubscribe()
  },
  data () {
    return {
      userId: '',
      chatHistoryId: {},
      messages: [],
      currentMessage: '',
      errorMessage: '',
      snackbar: false
    }
  },
  methods: {
    async sendMessage (message) {
      this.currentMessage = ''
      try {
        await writeMessage(this.chatHistoryId, this.userId, message)
      } catch (err) {
        logError(`error writing message for chat history id ${this.chatHistoryId}: ${err}`, this.userId, 'chat')
        this.snackbar = true
        this.errorMessage = 'Oops! That message didn\'t send, can you please try again?'
      }
    }
  }
}
</script>

<style scoped>
.float-right {
  float: right;
}
.float-left {
  float: left;
}
</style>
