<template>
  <div>
    <v-stepper
      v-model="schoolProfile"
      vertical
      non-linear>
      <v-stepper-items>
        <v-stepper-step
          editable step="1"
          v-bind:complete="schoolProfile > 1">
          Age Groups
          <small>Age groups teachers are qualified for that you want to look for with this profile.</small>
        </v-stepper-step>
        <v-stepper-content step="1">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="0 to 3"
                v-model="ageRanges"
                value="1"></v-checkbox>
              <v-checkbox
                label="3 to 6"
                v-model="ageRanges"
                value="2"></v-checkbox>
              <v-checkbox
                label="6 to 9"
                v-model="ageRanges"
                value="3"></v-checkbox>
              <v-checkbox
                label="9 to 12"
                v-model="ageRanges"
                value="4"></v-checkbox>
              <v-checkbox
                label="12+"
                v-model="ageRanges"
                value="5"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 2">
            Continue
          </v-btn>
        </v-stepper-content>
        

        <v-stepper-step
          editable
          step="2"
          v-bind:complete="schoolProfile > 2">
          Education Level
          <small>Check the lowest level of completion you are willing to accept for this position. Higher levels will automatically be included in the search.</small>
        </v-stepper-step>
        <v-stepper-content step="2">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="educationTypes">
                <v-radio
                  label="High School"
                  value=1></v-radio>
                <v-radio
                  label="Associate"
                  value=2></v-radio>
                <v-radio
                  label="Bachelor"
                  value=3></v-radio>
                <v-radio
                  label="Master"
                  value=4></v-radio>
                <v-radio
                  label="Doctorate"
                  value=5></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 3">
            Continue
          </v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable
          step="3"
          v-bind:complete="schoolProfile > 3"
        >
          Training Types
          <small>AMI, AMS, etc. Choose all that you accept. If you accept any certification, select "all."</small>
        </v-stepper-step>
        <v-stepper-content step="3">
          <v-card flat>
            <v-card-text>
              <v-checkbox
                label="Association Montessori Internationale"
                v-model="trainingTypes"
                value="1"></v-checkbox>
              <v-checkbox
                label="American Montessori Society"
                v-model="trainingTypes"
                value="2"></v-checkbox>
              <v-checkbox
                label="Center for Guided Studies"
                v-model="trainingTypes"
                value="3"></v-checkbox>
              <v-checkbox
                label="Pan-American Montessori Society"
                v-model="trainingTypes"
                value="4"></v-checkbox>
              <v-checkbox
                label="Other MACTE Accredited Program"
                v-model="trainingTypes"
                value="5"></v-checkbox>
              <v-checkbox
                label="Other Non-MACTE Accredited Program"
                v-model="trainingTypes"
                value="6"></v-checkbox>
              <v-checkbox
                label="All"
                v-model="trainingTypes"
                value="7"></v-checkbox>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 4">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="4"
          v-bind:complete="schoolProfile > 4">
          School Organizational Categories
          <small>Public or private? For profit or not? Check the category that applies to your school.</small>
        </v-stepper-step>
        <v-stepper-content step="4">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="organizationTypes">
                <v-radio
                  label="Public District"
                  value=1></v-radio>
                <v-radio
                  label="Public Charter"
                  value=2></v-radio>
                <v-radio
                  label="Public Magnet"
                  value=3></v-radio>
                <v-radio
                  label="Private Not For Profit"
                  value=4></v-radio>
                <v-radio
                  label="Private For Profit"
                  value=5></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 5">
            Continue
          </v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable
          step="5"
          v-bind:complete="schoolProfile > 5">
          Location Categories
          <small>In the country or the city? Check the category that applies to your school.</small>
        </v-stepper-step>
        <v-stepper-content step="5">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="locationTypes">
                <v-radio
                  label="Rural"
                  value=1></v-radio>
                <v-radio
                  label="Suburban"
                  value=2></v-radio>
                <v-radio
                  label="Small City"
                  value=3></v-radio>
                <v-radio
                  label="Urban"
                  value=4></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 6">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="6"
          v-bind:complete="schoolProfile > 6">
          School Sizes (by # of classrooms)
          <small>One room schoolhouse? Lots of people to collaborate with? Check the category that applies to your school.</small>
        </v-stepper-step>
        <v-stepper-content step="6">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="sizes">
                <v-radio
                  label="4 or fewer"
                  value=1></v-radio>
                <v-radio
                  label="5 to 9"
                  value=2></v-radio>
                <v-radio
                  label="10-19"
                  value=3></v-radio>
                <v-radio
                  label="20+"
                  value=4></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 7">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="7"
          v-bind:complete="schoolProfile > 7">
          Calendar Types
          <small>Year round or traditional? Check the category that applies to your school.</small>
        </v-stepper-step>
        <v-stepper-content step="7">
          <v-card flat>
            <v-card-text>
              <v-radio-group v-model="calendarTypes">
                <v-radio
                  label="Traditional"
                  value=1></v-radio>
                <v-radio
                  label="Year Round"
                  value=2></v-radio>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn
            color="primary"
            @click.native="schoolProfile = 8">
            Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          editable step="8"
          v-bind:complete="schoolProfile > 8">
          Geographic Area
          <small>Enter the zip code of your school's location.</small>
        </v-stepper-step>
        <v-stepper-content step="8">
          <v-card flat>
            <v-card-text>
              <v-form
                v-if="matchingProfile.zipCodes.length === 0"
                v-model="valid"
                ref="form">
                <v-text-field
                  label="ZipCode"
                  v-model="currentZipCode"
                  :rules="zipCodeRules"
                  required></v-text-field>             
                <v-btn @click="addZipCode(currentZipCode, currentDistance)">
                  Add</v-btn>
              </v-form>
              <v-list two-line>
                <v-list-tile
                  v-for="(zipCodeObj, i) in matchingProfile.zipCodes"
                  :key="i">
                  <v-list-tile-content>
                    <v-list-tile-title v-text="zipCodeObj.code"></v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card-text>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
      <v-btn
        color="primary"
        @click="finishStepOne()"
      >
        Continue
      </v-btn>
    </v-stepper>
    <v-progress-linear
      v-model="computedProgress"
      color="primary"></v-progress-linear>
  </div>
</template>

<script>
import Firebase from '../../../../services/firebase'
import { getMatchingProfileById, updateMatchingProfile } from '../../../../services/matchingProfiles'
import { logError } from '../../../../services/logger'

export default {
  async mounted () {
    if (!this.$store.state.currentEditingMatchingProfileId) {
      this.$store.errorText = 'There was an error storing your Matching Profile, please go back to your profile and try again.'
      this.$router.push('/my-profile')
    }
    let profile
    try {
      profile = await getMatchingProfileById(this.$store.state.currentEditingMatchingProfileId)
    } catch (err) {
      const uid = Firebase.auth().currentUser.uid
      logError(`error getting matching profile by id: ${err}`, uid, 'schools/matching-profiles/update/categories')
    }

    for (let category in this.matchingProfile) {
      if (this[category]) {
        switch (category) {
          case 'ageRanges':
            // ageRanges is a checkbox, must keep the array
            this.ageRanges = profile.ageRanges.map(el => {
              return el.toString()
            })
            break
          case 'trainingTypes':
            // trainingTypes has to be specially mapped to the "all" option
            if (JSON.stringify(profile.trainingTypes) === JSON.stringify([1, 2, 3, 4, 5, 6])) {
              this.trainingTypes = ['7']
            } else {
              this.trainingTypes = profile.trainingTypes.map(el => {
                return el.toString()
              })
            }
            break
          case 'educationTypes':
            // educationTypes should only be the lowest one
            if (profile.educationTypes.length > 0) {
              const last = profile.educationTypes.length - 1
              this.educationTypes = profile.educationTypes[last].toString()
            } else {
              this[category] = 0
            }
            break
          case 'role':
            this.role = profile.role
            break
          default:
            // elsewise we grab what should be the only element in the array for the radio value
            this[category] = profile[category][0].toString()
            break
        }
      }
      this.matchingProfile[category] = profile[category]
    }
  },
  data () {
    return {
      valid: false,
      zipCodeRules: [
        (v) => !!v || 'Zip code must be 5 digits long',
        (v) => (v && /^[0-9]*$/.test(v) && v.length === 5) || 'Zip code must be 5 digits long'
      ],
      schoolProfile: 1,
      currentZipCode: '',
      currentDistance: 3000,
      distances: [10, 20, 50, 100, 'Any'],
      // vue won't react to the nested values, so have to have top level/nested of all of them
      ageRanges: [],
      trainingTypes: [],
      organizationTypes: [],
      educationTypes: 1,
      locationTypes: [],
      sizes: [],
      calendarTypes: [],
      role: 1,
      zipCodes: '',
      matchingProfile: {
        role: 1,
        ageRanges: [],
        educationTypes: [],
        trainingTypes: [],
        organizationTypes: [],
        locationTypes: [],
        locationTypesWeight: 10,
        sizes: [],
        sizesWeight: 10,
        calendarTypes: [],
        calendarTypesWeight: 10,
        zipCodes: [],
        zipCodesWeight: 5
      }
    }
  },
  methods: {
    addZipCode (code, distance) {
      if (this.matchingProfile.zipCodes.length >= 1) {
        return
      }
      this.matchingProfile.zipCodes.push({
        code: Number(code),
        distance: distance
      })
      this.currentZipCode = ''
    },
    finishStepOne () {
      if (this.$store.state.currentEditingMatchingProfileId &&
          this.role !== 0 &&
          this.ageRanges.length > 0 &&
          this.trainingTypes.length > 0 &&
          this.organizationTypes.length > 0 &&
          this.locationTypes.length > 0 &&
          this.sizes.length > 0 &&
          this.calendarTypes.length > 0 &&
          this.educationTypes !== 0
      ) {
        this.matchingProfile.educationTypes = []
        for (let i = 5; i >= this.educationTypes; i--) {
          this.matchingProfile.educationTypes.push(i)
        }
        // have to reconvert to numbers for all these for the db
        if (this.trainingTypes.includes(7)) {
          this.matchingProfile.trainingTypes = [1, 2, 3, 4, 5, 6]
        } else {
          this.matchingProfile.trainingTypes = this.trainingTypes.map(el => {
            return Number(el)
          })
        }
        if (this.role !== 0) {
          this.matchingProfile.role = Number(this.role)
        } else {
          this.$store.commit('setErrorText', 'Please select a role.')
          this.$store.commit('setSnackbar', true)
        }
        this.matchingProfile.ageRanges = this.ageRanges.map(el => {
          return Number(el)
        })
        this.matchingProfile.organizatinTypes = [Number(this.organizationTypes)]
        this.matchingProfile.locationTypes = [Number(this.locationTypes)]
        this.matchingProfile.sizes = [Number(this.sizes)]
        this.matchingProfile.calendarTypes = [Number(this.calendarTypes)]
        updateMatchingProfile(this.$store.state.currentEditingMatchingProfileId, JSON.parse(JSON.stringify(this.matchingProfile)))
        this.$router.push('/schools/matching-profiles/update/traits')
      } else {
        this.$store.commit('setErrorText', 'There was an error storing your Matching Profile, please try again.')
        console.log('error')
        this.$store.commit('setSnackbar', true)
        this.$router.push('/my-profile')
      }
    }
  },
  computed: {
    computedProgress: function () {
      return (this.schoolProfile - 1) * 6.25
    }
  }
}
</script>

<style scoped>
</style>
