<template>
<v-layout
  column
  align-center
>
  <v-flex
    xs12
    sm10
    md6
    class="white elevation-2 pa-4"
  >
    <v-form
      v-model="valid"
      ref="form"
    >
      <h4 class="primary--text">Start</h4>
      <p>
        You're taking the next step towards finding an amazing employee!
        Since you're allowed to have more than one matching profile
        (so that you can look for a primary or lower elementary teacher, for example)
        the first thing to do is name this matching profile so you know which
        one it is.
      </p>
      <v-text-field
        label="Matching Profile Name"
        v-model="name"
        :rules="nameRules"
        required
      ></v-text-field>
      <v-btn @click="submit">submit</v-btn>
    </v-form>
  </v-flex>
</v-layout>
</template>

<script>
import Firebase from '../../../../services/firebase'
import { createMatchingProfile, updateMatchingProfile } from '../../../../services/matchingProfiles'
import { logError } from '../../../../services/logger'

export default {
  async mounted () {
    const user = Firebase.auth().currentUser
    if (user) {
      let id
      try {
        id = await createMatchingProfile(user.uid, 'school')
      } catch (err) {
        logError(`error creating matching profile: ${err}`, user.uid, 'school/matching-profiles/update')
      }
      this.matchingProfileId = id
    }
  },
  data () {
    return {
      valid: false,
      name: '',
      nameRules: [
        (v) => !!v || 'Profile name is required',
        (v) => (v && v.length >= 2) || 'Profile name must be at least 2 characters'
      ],
      matchingProfileId: ''
    }
  },
  methods: {
    async submit () {
      const user = Firebase.auth().currentUser
      if (user && this.matchingProfileId) {
        try {
          await updateMatchingProfile(this.matchingProfileId, {
            name: this.name,
            id: this.matchingProfileId
          })
        } catch (err) {
          logError(`error updating matching profile: ${err}`, user.uid, 'school/matching-profiles/update')
        }

        this.$store.commit('setCurrentEditingMatchingProfileId', this.matchingProfileId)
        this.$router.push('/schools/matching-profiles/update/categories')
      }
    }
  }
}
</script>
