<template>
  <div>
    <v-stepper
      v-model="schoolProfile"
      vertical
      non-linear>
      <v-stepper-step
        editable
        step="1"
        v-bind:complete="schoolProfile > 1">
        (In)dependence
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="1">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c1selected" class="pink-hover">
            <v-card-text @click="selectExclusive(1, [2])">
              They like to collaborate with my fellow lead teachers and align our work in the classroom.
            </v-card-text>
          </v-card>
          <v-card v-bind:dark="c2selected" class="pink-hover">
            <v-card-text @click="selectExclusive(2, [1])">
              They prefer to work independently and focus on my classroom specifically, without worrying what others are doing.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 2">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable step="2" 
        v-bind:complete="schoolProfile > 2">
        Cursive
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="2">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c3selected" class="pink-hover">
            <v-card-text @click="selectExclusive(3, [4, 5])">
              Their classroom uses exclusively cursive.
            </v-card-text>
          </v-card>

          <v-card v-bind:dark="c4selected" class="pink-hover">
            <v-card-text @click="selectExclusive(4, [3, 5])">
              Their classroom uses exclusively print.
            </v-card-text>
          </v-card>

          <v-card v-bind:dark="c5selected" class="pink-hover">
            <v-card-text @click="selectExclusive(5, [3, 4])">
              Their classroom uses a mix of cursive and print.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 3">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable
        step="3"
        v-bind:complete="schoolProfile > 3">
        Materials
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="3">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c6selected" class="pink-hover">
            <v-card-text @click="selectExclusive(6, [7])">
              They like to adhere to my albums and training very closely and they don’t really stray from them.
            </v-card-text>
          </v-card>
          <v-card v-bind:dark="c7selected" class="pink-hover">
            <v-card-text @click="selectExclusive(7, [6])">
              They like to explore extensions and new materials beyond what is in their albums or what they learned in training.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 4">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable
        step="4"
        v-bind:complete="schoolProfile > 4">
        Parent Volunteers
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="4">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c8selected" class="pink-hover">
            <v-card-text @click="selectExclusive(8, [9])">
              They enjoy inviting parents into the classroom to volunteer for special projects like reading books or baking.
            </v-card-text>
          </v-card>
          <v-card v-bind:dark="c9selected" class="pink-hover">
            <v-card-text @click="selectExclusive(9, [8])">
              They prefer to keep adults out of the classroom during the work cycle.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 5">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable
        step="5"
        v-bind:complete="schoolProfile > 5">
        Assistants
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="5">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c10selected" class="pink-hover">
            <v-card-text @click="selectExclusive(10, [11])">
              Their assistant teachers get a lot of space to take ownership of certain projects or areas of the classroom.
            </v-card-text>
          </v-card>
          <v-card v-bind:dark="c11selected" class="pink-hover">
            <v-card-text @click="selectExclusive(11, [10])">
              Their assistant teachers are given detailed instructions on what to do in the classroom and they expect them to stick to it closely so we can keep things consistent.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 6">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable
        step="6"
        v-bind:complete="schoolProfile > 6">
        Technology
        <small>Select one of these traits.</small>
      </v-stepper-step>
      <v-stepper-content step="6">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-card v-bind:dark="c12selected" class="pink-hover">
            <v-card-text @click="selectExclusive(12, [13])">
              They like to incorporate technology appropriately into the classroom.
            </v-card-text>
          </v-card>
          <v-card v-bind:dark="c13selected" class="pink-hover">
            <v-card-text @click="selectExclusive(13, [12])">
              They prefer to keep technology out of the classroom.
            </v-card-text>
          </v-card>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 7">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable step="7"
        v-bind:complete="schoolProfile > 7">
        They love to do ... activities with the children
        <small>Select all that apply.</small>
      </v-stepper-step>
      <v-stepper-content step="7">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-layout
            row
            wrap>
            <v-card
              v-bind:dark="c14selected"
              class="grid-list-item">
            <v-card-text @click="toggleSingle(14)">
              culinary
            </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c15selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(15)">
                art/maker
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c16selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(16)">
                science
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c17selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(17)">
                movement and games
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c18selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(18)">
                music
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c19selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(19)">
                gardening and outdoor exploration
              </v-card-text>
            </v-card>
          </v-layout>
        </v-container>
        <v-btn
          color="primary"
          @click.native="schoolProfile = 8">
          Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step
        editable
        step="8"
        v-bind:complete="schoolProfile > 8">
        Other
        <small>Select all that apply.</small>
      </v-stepper-step>
      <v-stepper-content step="8">
        <v-container
          fluid
          grid-list-md
          class="grey lighten-4">
          <v-layout
          row
          wrap>
            <v-card
              v-bind:dark="c20selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(20)">
                They tend to be very tidy and organized. They like to keep the classroom orderly.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c21selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(21)">
                They like to get to know their colleagues and form strong personal connections with them.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c22selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(22)">
                They love to play actively on the playground with the children.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c23selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(23)">
                They love to sit and observe the classroom and keep detailed records on each child.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c24selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(24)">
                They like to collaborate on projects and events outside of their classroom that involve the whole school.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c25selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(25)">
                They have a specific interest in using inclusive, social justice oriented approaches in the classroom (universal design, anti-bias, anti-raciest, etc).
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c26selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(26)">
                They respond calmly and quickly during emergencies.
              </v-card-text>
            </v-card>
            <v-card
              v-bind:dark="c27selected"
              class="grid-list-item">
              <v-card-text @click="toggleSingle(27)">
                They're skilled at making themselves a nearly invisible adult in the classroom during the work cycle.
              </v-card-text>
            </v-card>
          </v-layout>
        </v-container>
      </v-stepper-content>
      <v-btn
        color="primary"
        @click.native="finishStepTwo">
        Finish</v-btn>
    </v-stepper>
    <v-progress-linear
      v-model="computedProgress"
      color="primary"
    ></v-progress-linear>
  </div>
</template>

<script>
import Firebase from '../../../../services/firebase'
import { updateMatchingProfile, getMatchingProfileById } from '../../../../services/matchingProfiles'
import { runAlgorithmForMatchingProfileId } from '../../../../services/matchAlgorithm'
import { logError } from '../../../../services/logger'

export default {
  async mounted () {
    // if we got here without the necessary data, leave!
    if (!this.$store.state.currentEditingMatchingProfileId) {
      this.$store.errorText = 'There was an error storing your Matching Profile, please go back to your profile and try again.'
      this.$router.push('/my-profile')
    }

    let matchingProfile
    try {
      matchingProfile = await getMatchingProfileById(this.$store.state.currentEditingMatchingProfileId)
    } catch (err) {
      const uid = Firebase.auth().currentUser.uid
      logError(`error getting matching profile by id: ${err}`, uid, 'schools/matching-profiles/updates/traits')
      this.errorText = err
    }

    if (matchingProfile) {
      this.matchingProfile = matchingProfile
    }

    if (this.matchingProfile.traits && this.matchingProfile.traits.length > 0) {
      this.matchingProfile.traits.forEach(trait => {
        this[`c${trait}selected`] = true
      })
    } else {
      this.matchingProfile.traits = []
    }
  },
  data () {
    return {
      schoolProfile: 1,
      matchingProfile: {
        traits: []
      },
      errorText: '',
      // models for view styling
      c1selected: false,
      c2selected: false,
      c3selected: false,
      c4selected: false,
      c5selected: false,
      c6selected: false,
      c7selected: false,
      c8selected: false,
      c9selected: false,
      c10selected: false,
      c11selected: false,
      c12selected: false,
      c13selected: false,
      c14selected: false,
      c15selected: false,
      c16selected: false,
      c17selected: false,
      c18selected: false,
      c19selected: false,
      c20selected: false,
      c21selected: false,
      c22selected: false,
      c23selected: false,
      c24selected: false,
      c25selected: false,
      c26selected: false,
      c27selected: false
    }
  },
  methods: {
    // this selects one option, and deselects provided ones
    selectExclusive (current, excluded) {
      // flip state of current clicked option
      this[`c${current}selected`] = !this[`c${current}selected`]
      this.matchingProfile.traits.push(current)
      // set ones to be excluded to false and remove from data
      excluded.forEach(el => {
        this[`c${el}selected`] = false
        this.matchingProfile.traits.find((num, ind) => {
          if (num === el) {
            this.matchingProfile.traits.splice(ind, 1)
          }
        })
      })
    },
    // select the data and push into traits, or deselect and remove
    toggleSingle (current) {
      if (this[`c${current}selected`]) {
        this.matchingProfile.traits.find((num, ind) => {
          if (num === current) {
            this.matchingProfile.traits.splice(ind, 1)
          }
        })
      } else {
        this.matchingProfile.traits.push(current)
      }
      this[`c${current}selected`] = !this[`c${current}selected`]
    },
    async finishStepTwo () {
      if (this.matchingProfile.traits.length <= 6) {
        this.$store.commit('setErrorText', 'Please select more traits so we can give you the best chance to match with a school.')
        this.$store.commit('setSnackbar', true)
        return
      }
      this.matchingProfile.complete = true
      this.matchingProfile.active = true
      // since vue component data is reactive, have to run through JSON methods to get a plain old object
      updateMatchingProfile(this.$store.state.currentEditingMatchingProfileId, JSON.parse(JSON.stringify(this.matchingProfile)))
      const user = Firebase.auth().currentUser

      // don't worry about auth right now
      // let token
      // try {
      //   token = await user.getIdToken()
      // } catch (err) {
      //   console.error(err.Message)
      //   this.errorText = err
      // }

      try {
        runAlgorithmForMatchingProfileId(user.uid, this.$store.state.currentEditingMatchingProfileId, 'school')
      } catch (err) {
        logError(`error running matching algorithm: ${err}`, user.uid, 'schools/matching-profiles/updates/traits')
        this.$store.commit('setErrorText', 'An error occurred sending the matching profile to be matched against others.')
        this.$store.commit('setSnackbar', true)
      }
      this.$store.commit('setCurrentViewingMatchingProfileId', this.$store.state.currentEditingMatchingProfileId)
      this.$router.push('/schools/matching-profiles/detail')
    }
  },
  computed: {
    computedProgress: function () {
      return ((this.schoolProfile - 1) * 7.125) + 50
    }
  }
}
</script>

<style scoped>
.grid-list-item {
  width: 50%
}
.pink-hover:hover {
  background-color: #f48fb1;
}
.grid-list-item:hover {
  background-color: #f48fb1;
}
</style>
