<template>
  <v-container fluid>
    <div class="headline primary--text">How You Match Up With{{profile.displayName}}</div>
    <v-layout row align-top justify-space-around wrap class="white elevation-2 pa-3">
      <v-layout row>
        <v-tooltip bottom>
          <v-btn
            @click="removeInterest($store.state.currentViewingRecordId)"
            small
            raised
            color="secondary"
            slot="activator"
            v-if="matchRecord[`confirmedByUser${this.userIdentifier}`]"
          >
            Not interested...
          </v-btn>
          <span>Unmatches you, but we'll show you the profile again.</span>
        </v-tooltip>
        <v-btn
          v-if="$store.state.typeOfViewingRecord === 'potential' && !matchRecord[`confirmedByUser${this.userIdentifier}`]"
          @click="showInterest($store.state.currentViewingRecordId)"
          small
          raised
          color="success"
        >
          I'm interested!
        </v-btn>
        <v-btn
          @click="deny($store.state.currentViewingRecordId)"
          small
          raised
          color="error"
          slot="activator"
        >
          Don't Show Me This School Profile Again
        </v-btn>
        <v-btn
          @click="goToChat(otherUserId)"
          small
          raised
          color="primary"
          v-if="$store.state.typeOfViewingRecord === 'confirmed'"
        >
          Let's Have a Chat!</v-btn>
      </v-layout>
      <v-flex xs12 sm10 md5>
        <v-img
          :src="avatarURL"
          height="300px"
          class="mb-2"
          contain
        ></v-img>
        <div><strong>Description:</strong> {{ profile.description }}</div>
        <br/>
      </v-flex>
    </v-layout>
    <v-layout row justify-space-around>
      <v-flex xs6>
        <v-layout
        column
        class="white elevation-2 pa-3 mb-5">
          <h3 class="primary--text">My Profile</h3>
          <h4 class="title primary--text">Categories</h4>
          <v-container
            fluid
            grid-list-md>
            <v-layout
              row
              wrap>
              <v-flex
                xs4
                v-for="category in matchingProfile"
                :key="category.key">
                <v-card flat tile class="pa-1">
                  <v-card-title class="accent--text">
                    <strong>{{ category.key }}</strong>
                  </v-card-title>
                  <div class="category-chip" v-for="val in category.value" :key="val">
                    <v-chip
                      :key="val"
                      color="primary"
                      text-color="white">
                      {{ val }}
                    </v-chip>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
          <h4 class="title primary--text">Geographic Areas</h4>
          <v-list class="mb-5">
            <template v-for="zipCode in matchingProfile.zipCodes">
              <div v-bind:key="zipCode.code">
                <v-divider inset></v-divider>
                <v-list-tile v-bind:key="zipCode.code" class="primary">
                  <v-list-tile-content class="white-text">
                    {{ zipCode.code }}
                  </v-list-tile-content>
                </v-list-tile>
              </div>
            </template>
          </v-list>
          <h4 class="title primary--text">Traits</h4>
          <v-list>
            <template v-for="trait in matchingProfile.traits">
              <div v-bind:key="trait">
                <v-divider inset></v-divider>
                <v-list-tile v-bind:key="trait" class="primary">
                  <v-list-tile-content class="white--text">
                    {{ trait }}
                  </v-list-tile-content>
                </v-list-tile>
              </div>
            </template>
          </v-list>
        </v-layout>
      </v-flex>
      <v-flex xs6>
        <v-layout
        column
        class="white elevation-2 pa-3 mb-5">
          <h3 class="secondary--text">Their Profile</h3>
          <h4 class="title secondary--text">Categories</h4>
          <v-container
            fluid
            grid-list-md>
            <v-layout
              row
              wrap>
              <v-flex
                xs4
                v-for="category in otherMatchingProfile"
                :key="category.key">
                <v-card flat tile>
                  <v-card-title class="accent--text">
                    <strong>{{ category.key }}</strong>
                  </v-card-title>
                  <div class="category-chip" v-for="val in category.value" :key="val">
                    <v-chip
                      :key="val"
                      color="secondary"
                      text-color="white">
                      {{ val }}
                    </v-chip>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
          <h4 class="title secondary--text">Geographic Area</h4>
          <v-list>
            <template v-for="zipCode in otherMatchingProfile.zipCodes">
              <div v-bind:key="zipCode.code">
                <v-divider inset></v-divider>
                <v-list-tile v-bind:key="zipCode.code" class="secondary">
                  <v-list-tile-content class="white--text">
                    Within {{ zipCode.distance }} miles of {{ zipCode.code }}
                  </v-list-tile-content>
                </v-list-tile>
              </div>
            </template>
          </v-list>
          <h4 class="title secondary--text">Traits</h4>
          <v-list>
            <template v-for="trait in otherMatchingProfile.traits">
              <div v-bind:key="trait">
                <v-divider inset></v-divider>
                <v-list-tile v-bind:key="trait" class="secondary">
                  <v-list-tile-content class="white--text">
                    {{ trait }}
                  </v-list-tile-content>
                </v-list-tile>
              </div>
            </template>
          </v-list>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import MatchingProfileMap from '../../../services/matchingProfileMap'
import Firebase from '../../../services/firebase'
import { getSingleConfirmedMatchRecord, removeInterestInMatchRecord, denyMatchRecord, showInterestInMatchRecord, getSinglePotentialMatchRecord } from '../../../services/matchingProfiles'
import { logError } from '../../../services/logger'

export default {
  async mounted () {
    this.$store.commit('setCurrentPage', 'profile-potential-educator')
    const user = Firebase.auth().currentUser
    let neededData
    if (this.$store.state.typeOfViewingRecord === 'confirmed') {
      try {
        neededData = await getSingleConfirmedMatchRecord(this.$store.state.currentViewingRecordId, user.uid)
      } catch (err) {
        logError(`error getting single confirmed match record: ${err}`, user.uid, 'schools/matches')
      }
    } else if (this.$store.state.typeOfViewingRecord === 'potential') {
      try {
        neededData = await getSinglePotentialMatchRecord(this.$store.state.currentViewingRecordId, user.uid)
      } catch (err) {
        logError(`error getting single potential match record: ${err}`, user.uid, 'schools/matches')
      }
    }
    this.profile = neededData.otherUserProfile
    this.matchRecord = neededData.matchRecord
    this.otherUserId = neededData.otherUserId

    this.avatarURL = this.profile.avatarUrl

    // we're comparing two profiles so we'll need to do 2x what happens in detail of your own profile
    const viewMatchingProfile = {
      role: {
        key: 'Role',
        value: []
      },
      ageRanges: {
        key: 'Age Ranges',
        value: []
      },
      locationTypes: {
        key: 'Community Size',
        value: []
      },
      educationTypes: {
        key: 'Education Level',
        value: []
      },
      sizes: {
        key: 'Sizes',
        value: []
      },
      calendarTypes: {
        key: 'Calendar Types',
        value: []
      },
      organizationTypes: {
        key: 'Organization Types',
        value: []
      },
      trainingTypes: {
        key: 'Training',
        value: []
      }
    }

    let traits = []

    // this converts db values (integers) into view values (strings)
    // via the map in services directory
    for (let profileSectionKey in neededData.matchingProfile) {
      for (let mapSectionKey in MatchingProfileMap) {
        if (mapSectionKey === profileSectionKey) {
          // role isn't stored as an array
          if (profileSectionKey === 'role') {
            viewMatchingProfile[profileSectionKey].value = [MatchingProfileMap[mapSectionKey][neededData.matchingProfile[profileSectionKey]]]
          } else {
            neededData.matchingProfile[profileSectionKey].forEach((el, ind) => {
              if (profileSectionKey === 'traits') {
                // traits don't have a key, so they get dropped right in
                traits[ind] = MatchingProfileMap.traits.schoolTraits[el]
              } else {
                // for all the rest we move them directly over
                viewMatchingProfile[profileSectionKey].value[ind] = MatchingProfileMap[mapSectionKey][el]
              }
            })
          }
        }
      }
    }

    this.matchingProfile = viewMatchingProfile
    this.matchingProfile.traits = traits
    // zip codes don't need to be converted
    this.matchingProfile.zipCodes = neededData.matchingProfile['zipCodes']

    const viewOtherMatchingProfile = {
      role: {
        key: 'Role',
        value: []
      },
      ageRanges: {
        key: 'Age Ranges',
        value: []
      },
      locationTypes: {
        key: 'Community Size',
        value: []
      },
      educationTypes: {
        key: 'Education Level',
        value: []
      },
      sizes: {
        key: 'Sizes',
        value: []
      },
      calendarTypes: {
        key: 'Calendar Types',
        value: []
      },
      organizationTypes: {
        key: 'Organization Types',
        value: []
      },
      trainingTypes: {
        key: 'Training',
        value: []
      }
    }

    let otherTraits = []

    // this converts db values (integers) into view values (strings)
    // via the map in services directory
    for (let profileSectionKey in neededData.otherMatchingProfile) {
      for (let mapSectionKey in MatchingProfileMap) {
        if (mapSectionKey === profileSectionKey) {
          // role isn't stored as an array
          if (profileSectionKey === 'role') {
            viewOtherMatchingProfile[profileSectionKey].value = [MatchingProfileMap[mapSectionKey][neededData.otherMatchingProfile[profileSectionKey]]]
          } else {
            neededData.otherMatchingProfile[profileSectionKey].forEach((el, ind) => {
              if (profileSectionKey === 'traits') {
                // traits don't have a key, so they get dropped right in
                otherTraits[ind] = MatchingProfileMap.traits.educatorTraits[el]
              } else {
                // for all the rest we move them directly over
                viewOtherMatchingProfile[profileSectionKey].value[ind] = MatchingProfileMap[mapSectionKey][el]
              }
            })
          }
        }
      }
    }

    this.otherMatchingProfile = viewOtherMatchingProfile
    this.otherMatchingProfile.traits = otherTraits
    // zip codes don't need to be converted
    this.otherMatchingProfile.zipCodes = neededData.otherMatchingProfile['zipCodes']
    if (user.uid === this.matchRecord.userIdA) {
      this.userIdentifier = 'A'
    } else {
      this.userIdentifier = 'B'
    }
  },
  data () {
    return {
      profile: {},
      otherMatchingProfile: {},
      matchingProfile: {},
      matchRecord: {},
      avatarURL: '',
      otherUserId: '',
      userIdentifier: ''
    }
  },
  methods: {
    deny (matchRecordId) {
      const user = Firebase.auth().currentUser
      denyMatchRecord(matchRecordId, user.uid)
      this.$router.push('/schools/matching-profiles/detail')
    },
    async removeInterest (matchRecordId) {
      const user = Firebase.auth().currentUser
      removeInterestInMatchRecord(matchRecordId, user.uid)
      this.$router.push('/schools/matching-profiles/detail')
    },
    goToChat (otherUserId) {
      this.$store.commit('setCurrentChatPartnerId', otherUserId)
      this.$router.push('/chat')
    },
    async showInterest (matchRecordId) {
      const user = Firebase.auth().currentUser
      let record
      try {
        record = await showInterestInMatchRecord(matchRecordId, user.uid)
      } catch (err) {
        logError(`error showing interest in match record: ${err}`, user.uid, 'schools/matches')
      }
      this.matchRecord = record
    }
  }
}
</script>
