<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="submit"
  >
    <v-flex
      xs12
      sm10
      md6
      class="white elevation-2 pa-4"
    >
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
      >
        <h4 class="primary--text">Change Your Password</h4>
        <v-text-field
          label="Password"
          type="password"
          hint="At least 15 characters"
          min="15"
          append-icon="visibility_off"
          v-model="password"
          :rules="passwordRules"
          required
        ></v-text-field>
        <v-text-field
          label="Confirm Password"
          type="password"
          hint="At least 15 characters"
          min="15"
          append-icon="visibility_off"
          v-model="confPass"
          :rules="confPassRules"
          required
        ></v-text-field>
        <v-btn
          :loading="loading"
          :disabled="loading"
          color="primary"
          @click="submit"
          @keydown.enter.prevent
          @keyup.enter="submit"
        >
          submit
        </v-btn>
        <v-btn
          color="error"
          @click="clear"
          @keydown.enter.prevent
          @keyup.enter="clear"
        >
          clear
        </v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import Firebase from '../../services/firebase'
import { logError } from '../../services/logger'

export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'change-password')
  },
  data () {
    return {
      loading: false,
      valid: true,
      email: '',
      alert: false,
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => (v && v.length >= 15) || 'Password must be at least 15 characters'
      ],
      confPass: '',
      confPassRules: [
        (v) => !!v || 'Password confirmation is required',
        (v) => (v && v === this.password) || 'Passwords must match!'
      ]
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        const user = Firebase.auth().currentUser
        // updatePassword is a native Firebase method on the user object
        try {
          await user.updatePassword(this.password)
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          this.loading = false
          logError(`error updating password: ${err}`, user.uid, 'change-password')
        }
        this.$store.commit('setSuccessSnackbar', true)
        this.$store.commit('setSuccessText', 'Your password was successfully changed.')
        // send user back to profile page
        this.$router.push('/my-profile')
      } else {
        this.$store.commit('setErrorSnackbar', true)
        this.$store.commit('setErrorText', 'You must provide a matching password and password confirmation.')
        this.loading = false
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
