<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="submit"
  >
    <v-flex
      xs12
      sm10
      md6
      class="white elevation-2 pa-4"
    >
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
      >
        <h4 class="primary--text">Login</h4>
        <v-text-field
          label="Email"
          type="email"
          v-model="email"
          :rules="emailRules"
          required
        >
        </v-text-field>
        <v-text-field
          label="Password"
          type="password"
          hint="At least 15 characters"
          min="15"
          v-model="password"
          :rules="passwordRules"
          required
        >
        </v-text-field>
        <v-btn
          :loading="loading"
          :disabled="loading"
          color="primary"
          @click="submit"
          @keydown.enter.prevent
          @keyup.enter="submit"
        >
          submit
        </v-btn>
        <v-btn
          color="error"
          @click="clear"
          @keydown.enter.prevent
          @keyup.enter="clear"
        >
          clear
        </v-btn>
      </v-form>
      <v-btn
          color="warn"
          @click="forgot"
          @keydown.enter.prevent
        >
          I forgot my password.
        </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import Firebase from '../../services/firebase'
import { getMemberType } from '../../services/users'
import { logError } from '../../services/logger'

export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'login')
  },
  data () {
    return {
      loading: false,
      valid: true,
      email: '',
      emailRules: [
        (v) => !!v || 'Email is required',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => (v && v.length >= 15) || 'Password must be at least 15 characters'
      ]
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        try {
          await Firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          this.loading = false
          logError(`error signing in with email and password: ${err}`, undefined, 'login')
          this.clear()
        }

        return Firebase.auth().onAuthStateChanged(async (user) => {
          if (user) {
            this.$store.commit('logIn')
            let memberType = this.$store.state.memberType
            if (!memberType) {
              try {
                memberType = await getMemberType(user.uid)
                this.$store.commit('setMemberType', memberType)
              } catch (err) {
                this.$store.commit('setErrorSnackbar', true)
                this.$store.commit('setErrorText', `${err}`)
                this.loading = false
                logError(`error getting memberType: ${err}`, user.uid, 'login')
                this.$router.push('/my-profile/member-type')
                return
              }
            }
            switch (memberType) {
              case 'admin':
                this.$router.push('/admin')
                break
              case 'educator':
                this.$router.push('/my-profile')
                break
              case 'school':
                this.$router.push('/my-profile')
                break
              default:
                this.$store.commit('setErrorSnackbar', true)
                this.$store.commit('setErrorText', 'User does not have a member type.')
                this.loading = false
                logError(`User does not have a member type.`, user.uid, 'login')
                this.$router.push('/my-profile/member-type')
                break
            }
          }
        })
      } else {
        this.$store.commit('setErrorSnackbar', true)
        this.$store.commit('setErrorText', 'Please enter an email and password.')
        this.loading = false
      }
    },
    forgot () {
      this.$router.push('/auth/password-reset-request')
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
