<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="submit"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="errorSnackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="errorSnackbar = false">Close</v-btn>
    </v-snackbar>
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="successSnackbar"
      color="success"
    >
      {{ successMessage }}
      <v-btn color="secondary" @click.native="successSnackbar = false">Close</v-btn>
    </v-snackbar>
    <v-flex
      xs12
      sm10
      md6
      class="white elevation-2 pa-4"
    >
      <v-form
        v-model="valid"
        ref="form"
      >
        <h4 class="primary--text">Change Your Password</h4>
        <v-text-field
          label="Password"
          type="password"
          hint="At least 15 characters"
          min="15"
          append-icon="visibility_off"
          v-model="password"
          :rules="passwordRules"
          required
        ></v-text-field>
        <v-text-field
          label="Confirm Password"
          type="password"
          hint="At least 15 characters"
          min="15"
          append-icon="visibility_off"
          v-model="confPass"
          :rules="confPassRules"
          required
        ></v-text-field>
        <v-alert
          error
          dismissible
          v-model="alert"
        >
          {{ errorMessage }}
        </v-alert>
        <v-btn @click="submit" color="primary">submit</v-btn>
        <v-btn @click="clear" color="error">clear</v-btn>
      </v-form>
      <v-btn v-if="loginButton" @click="login" color="success">Login</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import Firebase from '../../services/firebase'
import { getMemberType } from '../../services/users'
import { logError } from '../../services/logger'

export default {
  async mounted () {
    this.$store.commit('setCurrentPage', 'passwordReset')
    this.mode = this.$route.query.mode
    this.verificationCode = this.$route.query.oobCode

    try {
      this.email = await Firebase.auth().verifyPasswordResetCode(this.verificationCode)
    } catch (err) {
      this.errorSnackbar = true
      this.errorMessage = 'We could not verify the code from your email, please try again.'
    }
  },
  data () {
    return {
      mode: '',
      verificationCode: '',
      errorMessage: '',
      valid: false,
      email: '',
      alert: false,
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => (v && v.length >= 15) || 'Password must be at least 15 characters'
      ],
      confPass: '',
      confPassRules: [
        (v) => !!v || 'Password confirmation is required',
        (v) => (v && v === this.password) || 'Passwords must match!'
      ],
      errorSnackbar: false,
      successSnackbar: false,
      loginButton: false,
      successMessage: ''
    }
  },
  methods: {
    async submit () {
      if (this.password && this.confPass && this.verificationCode && this.password === this.confPass) {
        // updatePassword is a native Firebase method on the user object
        try {
          await Firebase.auth().confirmPasswordReset(this.verificationCode, this.password)
        } catch (err) {
          this.errorSnackbar = true
          this.errorMessage = 'We could not update your password. We have logged the error and will fix it soon!'
          logError(`error updating password: ${err}`, undefined, 'password-reset')
        }

        this.successSnackbar = true
        this.loginButton = true
        this.successMessage = 'Your password has been reset, please click the button below to login.'
      } else {
        this.errorMessage = 'You must provide a matching password and password confirmation'
      }
    },
    async login () {
      try {
        await Firebase.auth().signInWithEmailAndPassword(this.email, this.password)
      } catch (err) {
        logError(`error signing in with email and password: ${err}`, undefined, 'login')
        this.errorSnackbar = true
        this.errorMessage = 'Your email or password was incorrect, please try again!'
        this.$router.push('/auth/login')
      }

      return Firebase.auth().onAuthStateChanged(async (user) => {
        if (user) {
          this.$store.commit('logIn')
          let memberType = this.$store.state.memberType
          if (!memberType) {
            try {
              memberType = await getMemberType(user.uid)
              this.$store.commit('setMemberType', memberType)
            } catch (err) {
              logError(`error getting memberType: ${err}`, user.uid, 'login')
              this.$router.push('/my-profile/member-type')
              return
            }
          }
          switch (memberType) {
            case 'admin':
              this.$router.push('/admin')
              break
            case 'educator':
              this.$router.push('/my-profile')
              break
            case 'school':
              this.$router.push('/my-profile')
              break
            default:
              this.$router.push('/my-profile/member-type')
              logError(`User does not have a member type.`, user.uid, 'login')
              break
          }
        }
      })
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
