<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="submit"
  >
    <v-flex
      xs12
      sm10
      md6
      class="white elevation-2 pa-4"
    >
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
      >
        <h4 class="primary--text">Reset Password</h4>
        <v-text-field
          label="Email"
          type="email"
          v-model="email"
          :rules="emailRules"
          required
        >
        </v-text-field>
        <v-btn
          :loading="loading"
          :disabled="loading"
          color="primary"
          @click="submit"
          @keydown.enter.prevent
          @keyup.enter="submit"
        >
          submit
        </v-btn>
        <v-btn
          color="error"
          @click="clear"
          @keydown.enter.prevent
          @keyup.enter="clear"
        >
          clear
        </v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import Firebase from '../../services/firebase'
// import { getMemberType } from '../../services/users'
import { logError } from '../../services/logger'

export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'login')
  },
  data () {
    return {
      loading: false,
      valid: true,
      email: '',
      emailRules: [
        (v) => !!v || 'Email is required',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        try {
          await Firebase.auth().sendPasswordResetEmail(this.email)
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          logError(`error sending password reset email: ${err}`, undefined, 'password-reset-request')
          this.loading = false
          this.clear()
          return
        }
        this.$store.commit('setSuccessSnackbar', true)
        this.$store.commit('setSuccessText', 'Please check your email and click the link.')
        this.loading = false
      } else {
        this.$store.commit('setErrorSnackbar', true)
        this.$store.commit('setErrorText', 'Please enter an email!')
        this.loading = false
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
