<template>
  <div>
    <v-layout
      column
      align-center
      absolute
      @keydown.enter.prevent
      @keyup.enter="submit"
    >
      <v-flex
        xs12
        sm10
        md6
        class="white elevation-2 pa-4"
      >
        <v-form
          v-model="valid"
          ref="form"
          lazy-validation
        >
          <h4 class="primary--text">Get Started</h4>
          <v-select
            v-bind:items="memberTypes"
            label="I am a(n)..."
            class="input-group--focused"
            item-value="text"
            v-model="memberType"
            :rules="memberTypeRules"
            required
          ></v-select>
          <v-text-field
            label="Email"
            type="email"
            v-model="email"
            :rules="emailRules"
            required
          >
          </v-text-field>
          <v-text-field
            label="Password"
            type="password"
            hint="At least 15 characters"
            min="15"
            v-model="password"
            :rules="passwordRules"
            required
          >
          </v-text-field>
          <v-text-field
            label="Confirm Password"
            type="password"
            v-model="confPass"
            :rules="confPassRules"
            required
          >
          </v-text-field>
          <p>
            Our only password rule is that it be 15 characters or more. Why so long? Recent studies show that all the rules
            about numbers, uppercase, lowercase and symbols don't help that much.
            A long password is a strong password.
          </p>
          <v-btn
            :loading="loading"
            :disabled="loading"
            color="primary"
            @click="submit"
            @keydown.enter.prevent
            @keyup.enter="submit"
          >
            submit
          </v-btn>
          <v-btn
            color="error"
            @click="clear"
            @keydown.enter.prevent
            @keyup.enter="clear"
          >
            clear
          </v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Firebase from '../../services/firebase'
import { setMemberType } from '../../services/users'
import { browserMixin } from '../../mixins/browser'
import { logError } from '../../services/logger'

export default {
  mixins: [browserMixin],
  mounted () {
    this.$store.commit('setCurrentPage', 'signup')
  },
  data () {
    return {
      loading: false,
      valid: true,
      email: '',
      alert: false,
      emailRules: [
        (v) => !!v || 'Email is required',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => (v && v.length >= 15) || 'Password must be at least 15 characters'
      ],
      confPass: '',
      confPassRules: [
        (v) => !!v || 'Password confirmation is required',
        (v) => (v && v === this.password) || 'Passwords must match!'
      ],
      memberTypes: [
        'educator',
        'school'
      ],
      memberType: '',
      memberTypeRules: [
        (v) => !!v || 'Member type is required'
      ]
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        try {
          await Firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          logError(`error creating user with email and password: ${err}`, undefined, 'signup')
          this.loading = false
          return
        }
        // this sets it so they don't get logged out unless they specifically log out via us.
        // the firebase token does not time out.
        try {
          await Firebase.auth().setPersistence('local')
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          logError(`error setting firebase persistence: ${err}`, null, 'signup')
          this.loading = false
          return
        }

        try {
          await Firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        } catch (err) {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', `${err}`)
          logError(`error signing in with email and password: ${err}`, undefined, 'signup')
          this.loading = false
          return
        }

        return Firebase.auth().onAuthStateChanged(user => {
          if (!user) {
            this.$store.commit('setErrorSnackbar', true)
            this.$store.commit('setErrorText', 'Something went wrong with logging you in, taking you to the login page!')
            logError(`on auth state changed there was no user`, undefined, 'signup')
            this.loading = false
            this.$router.push('/auth/login')
          }
          try {
            setMemberType(user.uid, this.memberType)
          } catch (err) {
            this.$store.commit('setErrorSnackbar', true)
            this.$store.commit('setErrorText', `Error: ${err}`)
            logError(`issue setting member type: ${err}`, user.uid, 'signup')
            this.loading = false
            this.$router.push('/my-profile/member-type')
          }

          // set store variables appropriately
          this.$store.commit('setMemberType', this.memberType)
          this.$store.commit('logIn')
          // reroute to correct profile
          // admins are never made this way, so don't need to include that
          this.$router.push('/my-profile/finish')
        })
      } else {
        this.$store.commit('setErrorSnackbar', true)
        this.$store.commit('setErrorText', 'Please include an email and password, and choose what type of member you are!')
        this.loading = false
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

<style>
.big-top-margin {
  margin-top: 35rem;
}
</style>
