// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #0d47a1
  accent: #F386A6
  secondary: #F58121
  info: #0D47A1
  warning: #FFE500
  error: #E21F25
  success: #41AD4A
}
