<template>
  <v-app light>
    <v-snackbar
      :timeout="6000"
      color="error"
      multi-line
      top
      v-model="errorSnackbar">
      {{ $store.state.errorText }}
      <v-btn dark flat @click.native="clearErrorSnackbar">Close</v-btn>
    </v-snackbar>
    <v-snackbar
      :timeout="6000"
      color="success"
      multi-line
      top
      v-model="successSnackbar">
      {{ $store.state.successText }}
      <v-btn dark flat @click.native="clearSuccessSnackbar">Close</v-btn>
    </v-snackbar>
    <v-navigation-drawer
      app
      fixed
      persistent
      clipped
      v-model="drawer"
      enable-resize-watcher
      dark
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list v-if="!$store.state.loggedIn">
        <v-list-tile
          v-for="(item, i) in unloggedItems"
          :key="i"
          :to="item.to"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list v-if="$store.state.loggedIn">
        <v-list-tile
          to=""
          @click="routeToProfile"
        >
          <v-list-tile-action>
            <v-icon>face</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>My Profile</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="$store.state.memberType === 'admin'"
          to="/admin"
        >
          <v-list-tile-action>
            <v-icon>face</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Admin</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          to="/"
          @click="logOut"
        >
          <v-list-tile-action>
            <v-icon>remove</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Log Out</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-navigation-drawer
      app
      persistent
      clipped
      fixed
      v-model="drawerRight"
      right
    >
      <v-list>
        <v-list-tile @click.stop="right = !right">
          <v-list-tile-content>
            <v-list-tile-title>Please give us feedback</v-list-tile-title>
            <v-list-tile-title>and report any bugs you find!</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-form
        ref="form"
        v-model="valid"
        class="pa-3"
        lazy-validation
      >
        <v-textarea
          label="Suggestions/Improvements"
          v-model="feedback"
          :rules="feedbackRules"
          auto-grow
          required
        >
        </v-textarea>
        <v-text-field
          label="Email (not required)"
          v-model="email"
          :rules="emailRules"
        >
        </v-text-field>
        <v-btn @click="submit" color="primary">submit</v-btn>
        <v-btn @click="clear" color="error">clear</v-btn>
      </v-form>
    </v-navigation-drawer>
    <v-toolbar fixed app clipped-left clipped-right>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="drawerRight = !drawerRight">
        <v-icon>textsms</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="false" app>
      <span>&copy; 2017 Connectique, LLC</span>
    </v-footer>
  </v-app>
</template>

<style scoped>
.toolbar__title {
  color: #0d47a1
}
</style>

<script>
  import Firebase from '../services/firebase'
  import { getMemberType } from '../services/users'
  import { writeFeedback } from '../services/feedback'
  import { logInfo } from '../services/logger'

  export default {
    async mounted () {
      logInfo('site visit initiated')
      this.clear()
      this.clearErrorSnackbar()
      this.clearSuccessSnackbar()
      this.drawerRight = false
    },
    async fetch ({store}) {
      const user = Firebase.auth().currentUser
      if (user) {
        store.commit('logIn')
      }
    },
    watch: {
      $route () {
        this.clear()
        this.clearErrorSnackbar()
        this.clearSuccessSnackbar()
        this.drawerRight = false
      },
      errorSnackbar (value) {
        if (value === true) {
          setTimeout(() => {
            this.clearErrorSnackbar()
          }, 6000)
        }
      },
      successSnackbar (value) {
        if (value === true) {
          setTimeout(() => {
            this.clearSuccessSnackbar()
          }, 6000)
        }
      }
    },
    computed: {
      errorSnackbar () {
        return this.$store.state.errorSnackbar
      },
      successSnackbar () {
        return this.$store.state.successSnackbar
      }
    },
    data () {
      return {
        valid: true,
        drawer: true,
        drawerRight: false,
        feedback: '',
        feedbackRules: [
          (v) => !!v || 'Suggestions/Improvements is required',
          (v) => (v && v.length >= 20) || 'Suggestions/Improvements must be at least 20 characters'
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'Email is required',
          (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        items: [
          { to: '/', title: 'Welcome', icon: 'insert_emoticon' },
          { to: '/faq', title: 'FAQ', icon: 'help' },
          { to: '/terms', title: 'Terms', icon: 'work' },
          { to: '/about', title: 'About', icon: 'assignment' }
        ],
        unloggedItems: [
          { to: '/auth/login', title: 'Log In', icon: 'account_box' },
          { to: '/auth/signup', title: 'Sign Up', icon: 'person_add' }
        ],
        title: 'Montessori Match',
        userId: ''
      }
    },
    methods: {
      async routeToProfile () {
        const memberType = await getMemberType(Firebase.auth().currentUser.uid)
        switch (memberType) {
          case 'admin':
            this.$router.push('/admin')
            break
          case 'educator':
            this.$router.push('/my-profile')
            break
          case 'school':
            this.$router.push('/my-profile')
            break
          default:
            this.$router.push('/')
            break
        }
      },
      submit () {
        if (this.$refs.form.validate()) {
          writeFeedback(this.feedback, this.email, this.$store.state.currentPage)
          this.clear()
        } else {
          this.$store.commit('setErrorSnackbar', true)
          this.$store.commit('setErrorText', 'Please type your suggestions/improvements')
        }
      },
      clear () {
        this.$refs.form.reset()
      },
      logOut () {
        this.$store.commit('logOut')
        return Firebase.auth().signOut()
          .then(() => {
            this.$router.push('/')
          })
      },
      clearErrorSnackbar () {
        this.$store.commit('setErrorSnackbar', false)
        this.$store.commit('setErrorText', '')
      },
      clearSuccessSnackbar () {
        this.$store.commit('setSuccessSnackbar', false)
        this.$store.commit('setSuccessText', '')
      }
    }
  }
</script>
