<template>
  <div>
    <v-layout
      column
      align-center
    >
      <v-flex
        xs12
        sm10
        md10
      >
        <v-card class="mb-3">
          <v-card-title class="title primary--text">
            Our Story
          </v-card-title>
          <v-card-text>
            <p>
              Our story begins with cheese (as most good stories do). At a holiday party in 2015,
              RB was found in her usual location...hovering over the cheese tray. A friendly
              gentleman named Dave approached. He was the person who brought the selection of smelly
              delights and they struck up a conversation.
            </p>
            <p>
              It turns out, Dave and RB had a lot in common! They were both former educators
              who had mixed experiences working in schools. Dave said that, after working at a few
              different schools and never finding a place where truly "belonged" he decided to leave
              education altogether and study to become a software developer.
            </p>
            <p>
              RB's eyes lit up. She'd been stewing over an idea for some time but she didn't know how
              to execute it. As a leadership coach working with Montessori schools, RB saw that 
              many of her clients hired teachers with the right technical qualifications, but who weren't
              a good fit in the school community. This led to frustration and turnover.
            </p>
            <p>
              Watching this struggle gave RB an idea: what if there was a matchmaking app that helped
              Montessori schools and teachers find each other? Happy teachers keep turnover low and
              student engagement high. RB knew it was a good idea, but didn't know the first thing about
              programming an app.
            </p>
            <p>
              Now, over a plate of tasty cheese, the planets aligned. Dave understood the frustration of
              being an educator in a school that didn't feel like home. He also knew how to program an app.
              That night, Manchego in hand, Montessori Match was born!
            </p>
          </v-card-text>
        </v-card>
        <h4>Our Founders</h4>
      </v-flex>
    </v-layout>
    <v-layout
      row
      wrap
      align-center
      justify-center
      class="mb-3"
    >
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card>
          <v-card-title class="title primary--text">
            RB Fast
          </v-card-title>
          <v-img src="/rbheadshot.png" height="400px">
          </v-img>
          <v-card-text>
            <p>
              A lifelong Colorado resident, RB holds a Master of Science in Early Childhood
              Studies and an AMI Primary Diploma. She is a globally known speaker and writer
              who coaches Montessori school leaders to realize their vision. When she isn't
              travelling the world supporting Montessori schools you can find her growing and
              cooking food with her family in her Denver home.
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card>
          <v-card-title class="title primary--text">
            Dave Sudia
          </v-card-title>
          <v-img src="/daveheadshot.jpg" height="400px"></v-img>
          <v-card-text>
            <p>
              Dave has a Bachelor of Science in Marketing, and a Master of Education in
              Special Education. His career as a behavior specialist, during which he
              won a Teacher of the Year award and was a regular conference speaker, prepared
              him well for a transition into software development. When he's not coding, you
              can find him in the Front Range biking and hiking.
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      column
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm10
        md10
      >
        <v-card class="mb-3">
          <v-card-title class="title primary--text">
            Our Vision and Values
          </v-card-title>
          <v-card-text>
            <h5>Vision</h5>
            <p>
              We envision a world in which organizations and employees are a perfect fit for
              one another. Where hiring processes are filtering for bias and people produtively
              thrive in their roles.
            </p>
            <h5>The "Why" Behind Montessori Match</h5>
            <ul>
              <li>
                We are solving a problem others have attempted to solve, but with a unique approach.
              </li>
              <li>
                Filters are developed to fit a diverse range of candidates and schools.
              </li>
              <li>
                More inclusive hiring practices as people only see match first, not a name or face.
              </li>
              <li>
                Filters unconscious bias and helps build a diverse school culture.
              </li>
              <li>
                Hiring takes a lot of time from leadership. This is a better use of administrative time.
              </li>
              <li>
                Reduce turnover in education by placing teachers in schools that are just right for them.
              </li>
              <li>
                Decrease teacher burnout rates.
              </li>
              <li>
                Improve resource efficiency for schools, decrease wasted money on turnover.
              </li>
            </ul>
            <h5 class="mt-3">Values</h5>
            <ul>
              <li>
                Accountable - We approach our individual roles and tasks with integrity, craftsmanship
                and mindfulness of project timelines and company goals. Each member of the team is responsible
                for producing quality work within identified timeframes while actively collaborating with
                the team.
              </li>
              <li>
                Flexible - Because we can count on one another to be accountable to the team, we trust people
                to control their work time and be present for events and meetings they know are of priority.
                We value a company culture in which all employees are able to meet their personal needs
                through self-management.
              </li>
              <li>
                Inclusive - Connectique is a place for everybody. We strive to move beyond "tolerance and diversity"
                towards "respectful inclusion" in all aspects of our internal and external company culture and message.
                Our inclusive appraoch includes welcoming team members to bring quiet, well-behaved pets to the office.
              </li>
              <li>
                Courageous - We are unafrad to have respectful, challenging conversations and we welcome people
                who question sacred ideas and challenge the status quo in the name of pushing the company to think bigger
                and be better.
              </li>
              <li>
                Innovative - We are open to new ideas: socially, organizationally, structurally and technologically.
              </li>
              <li>
                Efficient - We value time, money, and the energy of the humans who power our organization. We are
                committed to lean, smart operations and strategy.
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'about')
  }
}
</script>
