<template>
  <v-layout row>
    <v-flex
      xs12
      sm6
    >
      <p><strong>Total # of Users:</strong> {{ userCount }}</p>
      <p><strong>Number of Educators:</strong> {{ educatorCount }}</p>
      <p><strong>Number of Schools:</strong> {{ schoolCount }}</p>
      <p><strong>Number of Matches Made:</strong> {{ matchRecordCount }}
      <h4>Users with no member type:</h4>
      <p><strong>Total:</strong> {{ usersWithNoMemberType.length }}</p>
      <ul>
        <li v-for="(el, ind) in usersWithNoMemberType" :key="ind">
          {{ el.id }}
        </li>
      </ul>
      <h4>Users with no public info:</h4>
      <p><strong>Total:</strong> {{ usersWithNoPublicInfo.length }}</p>
      <ul>
        <li v-for="(el, ind) in usersWithNoPublicInfo" :key="ind">
          <p><strong>ID:</strong> {{ el.id }}</p>
          <p><strong>Missing Fields:</strong> {{ el.missingFields }}</p>
        </li>
      </ul>
      <v-card>
        <v-card-title class="title primary--text">
          Feedback Items
        </v-card-title>
        <template v-for="(item, index) in feedbackItems">
          <v-card v-bind:key="item.id">
            <v-card-text v-html="item.data.text"></v-card-text>
            <v-card-text v-html="item.data.email"></v-card-text>
            <v-card-actions>
              <button v-on:click="removeFeedbackItem(item.id, index)">
                <v-icon>delete</v-icon>
              </button>
            </v-card-actions>
          </v-card>
        </template>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { getAllFeedback, deleteFeedbackItem } from '../services/feedback'
import * as axios from 'axios'

export default {
  middleware: 'admin',
  async mounted () {
    this.$store.commit('setCurrentPage', 'admin')
    this.feedbackItems = await getAllFeedback()
    console.log(this.feedbackItems)
    this.countUsers()
    this.countUserTypes()
    this.countMatches()
    this.getUsersWithNoMemberType()
    this.getUsersWithNoPublicInfo()
  },
  data () {
    return {
      feedbackItems: [],
      userCount: 0,
      schoolCount: 0,
      educatorCount: 0,
      usersWithNoMemberType: [],
      usersWithNoPublicInfo: [],
      matchRecordCount: 0
    }
  },
  methods: {
    removeFeedbackItem (itemId, itemIndex) {
      deleteFeedbackItem(itemId)
      this.feedbackItems.splice(itemIndex, 1)
    },
    async countUsers () {
      const res = await axios.get(`https://us-central1-${process.env.FIREBASE_PROJECT_ID}.cloudfunctions.net/adminPortal/count-matches`)
      this.userCount = res.data.count
    },
    async countUserTypes () {
      const res = await axios.get(`https://us-central1-${process.env.FIREBASE_PROJECT_ID}.cloudfunctions.net/adminPortal/count-user-types`)
      this.educatorCount = res.data.educatorCount
      this.schoolCount = res.data.schoolCount
      this.userCount = this.educatorCount + this.schoolCount
    },
    async countMatches () {
      const res = await axios.get(`https://us-central1-${process.env.FIREBASE_PROJECT_ID}.cloudfunctions.net/adminPortal/count-matches`)
      this.matchRecordCount = res.data.matchRecordCount
    },
    async getUsersWithNoMemberType () {
      const res = await axios.get(`https://us-central1-${process.env.FIREBASE_PROJECT_ID}.cloudfunctions.net/adminPortal/users-no-member-type`)
      this.usersWithNoMemberType = res.data.users
    },
    async getUsersWithNoPublicInfo () {
      const res = await axios.get(`https://us-central1-${process.env.FIREBASE_PROJECT_ID}.cloudfunctions.net/adminPortal/users-no-public-info`)
      this.usersWithNoMemberType = res.data.users
    }
  }
}
</script>
