<template>
  <div>
    <v-layout
      column
      align-center
    >
      <v-flex
        xs12
        sm10
      >
        <v-card class="expansion-header">
          <v-card-title class="title primary--text">
            FAQ
          </v-card-title>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                Who is Montessori Match for?
              </div>
              <v-card>
                <v-card-text class="grey lighten-3">
                  Montessori Match is for anyone who is involved in hiring lead teachers at a 
                  Montessori school and wants a teacher who is a perfect fit. This app is also 
                  great for trained Montessori teachers ready to find the perfect school they 
                  can call “home” and make all their own.
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                Can I use the app if I am outside of the US?
              </div>
              <v-card>
                <v-card-text class="grey lighten-3">
                  Right now the Montessori Match app is exclusively for the United States. However, 
                  as we develop the app and work out the kinks we will expand the app for increased 
                  global access. If you live outside the US and would like to use Montessori Match, 
                  please email us at <a href="mailto:hello@montessorimatch.com">hello@montessorimatch.com</a>  to let us know!
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                Can I hire assistant teachers or administrators on the app?
              </div>
              <v-card>
                <v-card-text class="grey lighten-3">
                  Currently, Montessori Match only functions for the hiring of certified lead teachers. 
                  As we develop the app we will slowly expand to offer profile opportunities for other 
                  key school employees.
                  <a
                    href="http://montessorimatch.us14.list-manage.com/subscribe?u=9be45c7772ad2a078cc4b091d&amp;id=91ce5d5d68"
                    target="_blank"
                    class="flex-item-horizontal"
                  >
                    CLICK HERE
                  </a> to sign up for our newsletter and get updates on new features!
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                I have an idea for how to make this app better. How do I give feedback?
              </div>
              <v-card>
                <!-- TODO: make "reach out to tell us how we can be better" link to a feedback form -->
                <v-card-text class="grey lighten-3">
                  Please send us an email and let us know what you think! We want this app to be as useful 
                  as possible to as many people as possible. We appreciate when our customers 
                  reach out to tell us how we can be better.
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                Why is Montessori Match free? What’s the catch?
              </div>
              <v-card>
                <v-card-text class="grey lighten-3">
                  There’s no catch, we promise! Right now we are just so grateful that people are building 
                  profiles and helping us learn how to create the best hiring service possible. At some point, 
                  we will begin charging for matches. For right now, we just want to serve the community and 
                  learn as much as we can!
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel expand>
            <v-expansion-panel-content>
              <div
                slot="header"
                class="primary--text"
              >
                Who is behind Montessori Match?
              </div>
              <v-card>
                <v-card-text class="grey lighten-3">
                  You can learn more about the Montessori Match team, values, and philosophy by visiting 
                  our <a href="/about">About page</a>.
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'faq')
  }
}
</script>

<style scoped>
.expansion-header {
  min-width: 500px;
}
</style>
