<template>
  <div>
    <v-layout
      column
      align-center
      absolute
    >
      <v-snackbar
        :timeout="6000"
        multi-line
        top
        v-model="snackbar"
        color="primary"
      >
        As you go through the site, please fill out our feedback form (click the icon in the upper right of the screen) and let us know what we can do to make the site better for you!
      </v-snackbar>
      <v-flex
        xs12
        sm10
        md10
      >
        <div class="text-xs-center">
          <img
            src="/mm.png"
            alt="Montessori Match logo"
          >
        </div>
      </v-flex>
      <h4 class="headline primary--text mb-1">
          Where schools and teachers connect.
      </h4>
      <h3 class="title primary--text mb-1">
        Find a job. Find staff.
      </h3>
      <a
        class="mb-3"
        href="http://montessorimatch.us14.list-manage.com/subscribe?u=9be45c7772ad2a078cc4b091d&amp;id=91ce5d5d68"
        target="_blank"
      >
        <v-btn
          color="primary"
          class="mt-4 mb-4 white--text"
        >
          Sign up for our mailing list!
        </v-btn>
      </a>
      <v-flex
        xs12
        sm10
        md10
      >
        <v-card class="primary mb-5">
          <v-card-title class="title secondary--text">Welcome to Montessori Match!</v-card-title>
          <v-card-text>
            <p class="subheading white--text">
              We help Montessori schools and teachers find each other and make a <span class="secondary--text">perfect match</span>.
            </p>
            <p class="body-1 white--text">
              As a group of former teachers and administrators, we know how much it matters that 
              teachers and schools are a good fit for one another. We know that low teacher turnover 
              and high teacher happiness lead to thriving schools with engaged learners.
            </p>
            <p class="white--text">
              We want to see every Montessori teacher in a school that feels like “home” and every 
              Montessori school buzzing with collaboration and community. Let us help you find 
              the perfect match!
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md10
      >
        <h4 class="headline primary--text mb-3">
          How It Works
      </h4>
      </v-flex>
    </v-layout>
    <v-layout
      row
      align-top
      justify-space-around
      wrap
      class="mb-3">
      <v-flex
        xs12
        sm10
        md3
      >
        <v-card>
          <v-card-title class="title primary--text">
            Make a Profile
          </v-card-title>
          <v-img
            src="/profile.png"
            height="150px"
            contain
          >
          </v-img>
          <v-card-text>
            Fill out a Montessori-specific cultural profile, created by leaders in the Montessori community.
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md3
      >
        <v-card color="primary">
          <v-card-title class="title white--text">
            Get Connected
          </v-card-title>
          <v-img
            src="/puzzle-gray.png"
            height="150px"
            contain
          >
          </v-img>
          <v-card-text class="white--text">
            We show you members who share your priorities. You tell us which ones you'd like to connect with.
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md3
      >
        <v-card>
          <v-card-title class="title primary--text">
            Chat
          </v-card-title>
          <v-img
            src="/chat.png"
            height="150px"
            contain
          >
          </v-img>
          <v-card-text>
            When a school and an educator both show interest in each other, we connect you so you can move forward in the hiring process.
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      align-center
      justify-center
    >
      <v-flex xs6 class="mb-5">
        <v-btn
          v-on:click.native="$store.commit('setMemberType', 'educator')"
          block
          to="/auth/signup"
          color="secondary"
          class="white--text"
        >
          Build A Profile
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout
      row
      align-top
      justify-center
      wrap
      class="mb-3"
    >
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card class="profiles-box">
          <v-card-title class="title primary--text">
            School Profiles
          </v-card-title>
          <v-card-text>
            <p>
              Schools build a profile for a specific head guide position in your school. 
              For example, you might be looking for a new Primary guide. In that case, 
              build a profile for the ideal individual you want to see in that position.
            </p>
            <p>
              What kind of personality traits and characteristics do you desire? What 
              type of Montessori teacher training do you want them to have? Do you want 
              them to have a college education?
            </p>
            <p>
              Your profile will also include some basic information about your school. 
              We need to know what kind of community your school is in and what your 
              organizational structure is so that we will only match you with teachers 
              who want to work in a school like yours.
            </p>
            <p>
              <em>
                When you use Montessori Match, you establish an immediate filter for 
                unconscious bias in your first round of hiring. We make the match based 
                solely on credentials and characteristics, and you get the very best 
                candidates filtered to the top for you!
              </em>
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card>
          <v-card-title class="title primary--text">
            Teacher Profiles
          </v-card-title>
          <v-card-text>
            <p>
              Teachers, when you build a profile, you are telling us all about YOU and what
              makes you an amazing educator! 
            </p>
            <p>
              We want to know about your formal education but we also want to know 
              about the individual characteristics that make you an asset in the classroom.
              Do you love tech or a trusty blackboard with chalk?
              Or both?
            </p>
            <p>
              We will also ask you about the type of school you want to work in and 
              the sorts of communities you want to live in. Do you prefer year round, or summers off? 
              That way, we can help you find a school that will be your career “home!”
            </p>
            <p>
              Remember, the more options you choose for location and school structure, 
              the more potential matches we can make for you!
            </p>
            <p>
              <em>
                When you use Montessori Match, you are able to find your perfect fit, both
                for the location and size, but also for your personality and your values!
              </em>
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
      >
        <v-card color="primary mt-3">
          <v-card-title class="title secondary--text">Equitable Hiring</v-card-title>
          <v-card-text class="white--text">
            When you fill out your profile, you may wonder why we hide your name from others, and why you picked a 
            puzzle piece for your picture.

            When you fill out a profile on Montessori Match, we hide a lot of identifying information about you.
            Many studies have shown that we have unconscious bias as employers and employees that keep us from hiring the right people
            and choosing the best places to work.

            Once a school and educator are connected, you can share your real information with each other, and by that time
            you'll both have already made a conscious commitment to the hiring process, without your biases.
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      column
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm10
        md10
      >
        <v-card class="mb-3" color="primary">
          <v-card-title class="title white--text">
            Making a Match
          </v-card-title>
          <v-card-text class="white--text">
            <p>
              After you have built a profile our unique matchmaking algorithm will get to work finding your just-right matches. You will get a notification when a match is made with the chance to learn more. If you are interested in getting in contact, you let us know and we make the introductions!
            </p>
            <p>
              After you are introduced to your matches, the rest of the process is up to you. We make sure you get matches that are at least 75% positive alignment with your profile. From there, you do the interviews and decide if you are truly right for each other.
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      wrap
      align-top
      justify-center
    >
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card>
          <v-img
            src="/irepschool.png"
            height="300px"
          >
          </v-img>
          <v-card-text>
            <p>
              Your school is a special place and your community deserves to have the best teachers out there. Teachers that have the skills and characteristics your unique school needs. We know that when teachers work in schools in which they thrive, the children flourish.
            </p>
            <p>
              Are you ready to find a position in a school that values your contributions, connects you with inspiring colleagues, and is located in a community that is just right for you?
            </p>
          </v-card-text>
          <v-card-actions>
            <v-btn
              v-on:click.native="$store.commit('setMemberType(`school`)')"
              block to="/auth/signup"
              class="white--text"
              color="secondary"
            >
              Build a School Profile
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex
        xs12
        sm10
        md5
      >
        <v-card>
          <v-img
            src="/iamteacher.png"
            height="300px"
          >
          </v-img>
          <v-card-text>
            <p>
              Teaching is so rewarding. It can also be hard, especially if you’re teaching in a school with a culture, location, or administration that doesn’t work for you. We know that when teachers work in schools in which they thrive, the children flourish.
            </p>
            <p>
              Are you ready to find a position in a school that values your contributions, connects you with inspiring colleagues, and is located in a community that is just right for you?
            </p>
          </v-card-text>
          <v-card-actions>
            <v-btn
              v-on:click.native="$store.commit('setMemberType', 'educator')"
              block
              to="/auth/signup"
              color="secondary"
              class="white--text"
            >
              Build an Educator Profile
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { browserMixin } from '../mixins/browser'

export default {
  middleware: 'checkUser',
  mixins: [browserMixin],
  data () {
    return {
      snackbar: true
    }
  }
}
</script>

<style scoped>
img {
  width: 100%
}
.big-top-margin {
  margin-top: 35rem;
}
</style>
