<template>
  <div>
    <v-layout
      column
      align-center
    >
      <v-flex
        xs12
        sm10
        md10
      >
        <v-card>
          <v-card-title class="title primary--text">
            Terms and Conditions
          </v-card-title>
          <v-card-text>
            <p>
              Please read these Terms and Conditions completely before using Montessori 
              Match (“Site”), which is owned and operated by Connectique. This Agreement 
              documents the legally binding terms and conditions attached to the use of 
              the site MontessoriMatch.com
            </p>
            <p>
              By using or accessing the Site in any way, viewing or browsing the Site, 
              or adding your own content to the Site, you are agreeing to be bound by 
              these Terms and Conditions.
            </p>
            <h5>Intellectual Property</h5>
            <p>
              The Site and all of its original content are the sole property of 
              Connectique and are, as such, fully protected by the appropriate 
              international copyright and other intellectual property rights laws.
            </p>
            <h5>Termination</h5>
            <p>
              MontessoriMatch.com reserves the right to terminate your access to the 
              Site, without any advance notice.
            </p>
            <h5>Governing Law</h5>
            <p>
              This Agreement is governed in accordance with the laws of Colorado, 
              United States.
            </p>
            <h5>Changes to This Agreement</h5>
            <p>
              Montessori Match reserves the right to modify these Terms and Conditions 
              at any time. We do so by posting and drawing attention to the updated terms 
              on the Site. Your decision to continue to visit and make use of the Site 
              after such changes have been made constitutes your formal acceptance of the 
              new Terms and Conditions.
            </p>
            <p>
              Therefore, we ask that you check and review this Agreement for such changes 
              on an occasional basis. Should you not agree to any provision of this Agreement 
              or any changes we make to this Agreement, we ask and advise that you do not use 
              or continue to access the Montessori Match site immediately.
            </p>
            <h5>Contact Us</h5>
            <p>
              If you have any questions about this Agreement, please feel free to contact 
              us at Hello@MontessoriMatch.com.
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.commit('setCurrentPage', 'terms')
  }
}
</script>
